[2020-05-07 20:45] bbrewington opened #1 "API returning "no results" for get_cases in example: "jhu-cases", "confirmed_incidence", 20200411-20200417"
When I tried to re-run this, it threw an error - because the API itself is returning no results

![image](https://user-images.githubusercontent.com/10573749/81342621-85e85c00-9081-11ea-95e4-e12d1bca71cd.png)

I believe this is the API call it's trying to do:

https://delphi.cmu.edu/epidata/api.php?source=covidcast&data_source=jhu-cases&signal=confirmed_incidence&time_type=day&geo_type=county&time_

[2020-05-07 21:14] ryantibs commented on #1
Thanks, it's been fixed now. (We had renamed the JHU data source and its signals.)

[2020-05-07 21:14] #1 closed

[2020-07-26 18:33] capnrefsmmat opened #9 "Add geo lookup helper functions"
Now that we have the Census data included in the R package, it'd be convenient to add helper functions to look up geo IDs by name:

[code]

(Example from Ryan)

We could do this for counties and MSAs pretty easily, and they'd be convenient for use with the `geo_values` argument. They should be vectorized, so one could do `msa_lookup(c("Pittsburgh", "San Antonio", "Milwaukee"))` and get something t

[2020-07-26 18:37] capnrefsmmat opened #10 "Finish the covidcast_signals function"
It's currently in the R package, but not exported. Remaining issues:

* [x] How should the sources/signals be specified? Currently it accepts a data frame, but Ryan thinks separate vectors with recycling would be convenient, so you could specify things like `data_source = "jhu-csse"` , and `signal = c("confirmed_incidence_num", "confirmed_incidence_prop")`.
* [x] Should it be possible to select si

[2020-07-26 18:38] capnrefsmmat opened #11 "Implement mapping for MSAs and HRRs"
The package only has polygons for states and counties, so it does not support mapping MSAs and HRRs. If we can find and include such polygons, we can easily add plotting support for MSAs and HRRs.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198970450782715) by [Unito](https://www.unito.io/learn-more)

[2020-07-26 18:40] capnrefsmmat opened #12 "Finish documentation of advanced plotting parameters"
`plot.covidcast_signal` has various extra options that are currently documented with `TODO explain all these advanced parameters`. We should document them.

[2020-07-26 18:43] capnrefsmmat opened #13 "Find or produce county and state data files for the Python package"
The R package has some convenience data included to look up counties, MSAs, etc., and includes polygons to map some of them. Even if the Python package doesn't include mapping features, we should find a good source of similar data.

If there's an existing Python package that includes the data and polygons we want, we could just include a couple examples showing how to use it. If there isn't, we ca

[2020-07-27 15:15] capnrefsmmat opened #15 "Have R package startup message advertise our mailing list"
Point people to the mailing list so they can hear about updates (and we can ask how they're using it).

[2020-08-03 01:02] ercbk opened #16 "Cases_per_100K value probably off by a couple decimal places"
The MSA is Michigan City - LaPorte, cbsa/geo_value = 33140, source = "indicator-combination",  signal = "confirmed_7dav_incidence_prop"

Aug 1st value = 812.385598. It's been around 8 or 9 recently, so I'm guessing this should be 8.12385598, but would like to confirm.

[2020-08-03 12:20] capnrefsmmat commented on #16
This is due to our source, USAFacts, reporting 6,176 cases in LaPorte County on August 1: https://usafacts.org/visualizations/coronavirus-covid-19-spread-map/state/indiana/county/laporte-county

I was not able to identify an official source (from the county or state of Indiana) showing that spike in cases, so I'm not sure of the cause. Typically spikes like this happen when a backlog of cases is s

[2020-08-03 12:24] capnrefsmmat commented on #16
I'm also not sure how one reports suspicious numbers to USAFacts, since unlike JHU they don't have a convenient GitHub to report issues to...

[2020-08-03 12:28] capnrefsmmat commented on #16
p.s. nice dashboard! But I should note that our Combined indicator does not yet include hospital admissions or SafeGraph data, since we have not yet worked to incorporate them. That should be documented on the indicator page in the API. It's not clear how to incorporate SafeGraph mobility data, and the hospital admissions data is available in only a fraction of MSAs, so it hasn't been included yet

[2020-08-03 14:29] ercbk commented on #16
NY Times and Indiana Data Hub don't have anything near that. From Aug 1, the 7-day total from those sources is 74 and 82 respectively. So I think this is a USAFacts issue.

Also, thank you! And oof! I remember reading that now. I'll correct the dashboard description. Thanks for catching that.

[2020-08-03 21:00] ercbk commented on #16
This will affect values over the next week, so is this something that could be corrected in the next batch of data from them or does somebody need to email them (info@usafacts.org)?

[2020-08-04 18:35] capnrefsmmat opened #18 "Provide examples or integration to produce state and county maps in Python package"
The R package provides mapping; the Python package does not. Admittedly it's not common for Python packages to provide their own plotting in the way it is for R packages to.

We should look at [Cartopy](https://scitools.org.uk/cartopy/docs/latest/) and other relevant Python packages and see what it'd take to make mapping easy in the Python package. That need not mean implementing maps ourselves --

[2020-08-05 13:55] capnrefsmmat commented on #16
Looking at the [LaPorte County page on USAFacts](https://usafacts.org/visualizations/coronavirus-covid-19-spread-map/state/indiana/county/laporte-county), it seems they "canceled out" the massive spike by reporting negative 6,165 cases on August 2nd. Their downloadable CSV file has been corrected to show no spike at all, and our data matches accordingly:

[code]

However, the 7-day average still s

[2020-08-07 13:50] capnrefsmmat commented on #16
The signal has now been fixed by recalculating the 7-day averages. We're also working on automatically recalculating 7-day averages whenever the underlying data is updated.

[code]

[2020-08-07 13:50] #16 closed

[2020-08-07 14:06] ercbk commented on #16
Awesome. Thanks, Alex

[2020-08-08 07:41] chinandrew commented on #18
I think something like geopandas should provide some of the [choropleth](https://towardsdatascience.com/a-beginners-guide-to-create-a-cloropleth-map-in-python-using-geopandas-and-matplotlib-9cc4175ab630) functionality, and also seems to support [bubble plots](https://towardsdatascience.com/how-to-create-bubble-maps-in-python-with-geospatial-data-e51118c3d767). I haven't used it before but will pok

[2020-08-08 12:17] capnrefsmmat commented on #18
I think ordinary choropleth plots at county and state levels are the first priority; metropolitan statistical areas can come later, and HRRs (healthcare referral regions) are optional.

Note one goofy feature of our counties. Counties have a unique 5-digit identifying FIPS code; the first two digits identify the state. Suppose we have data for most of the counties in a state, but for some counties

[2020-08-09 09:04] chinandrew commented on #18
Got it, thanks for the priorities and also for pointing out the megacounty thing.

Ended up spending most of my time today wrestling with getting the package installed and running. I had R 3.4, upgrade to 3.6, and then was getting an error on the `foreign` package which requires 4.0 so had to upgrade again. Also some [DNS weirdness](https://github.com/jeroen/curl/issues/72) that led to timeouts, b

[2020-08-09 12:50] capnrefsmmat commented on #18
Nice, that looks quite good.

I seem to recall it being possible to produce animations with matplotlib. I wonder if we could produce animations of the maps that show how the signals change over time...

A couple other points:

* Some of our data sources provide values for Puerto Rico, so we should try to support that along with Alaska and Hawaii. Not sure if the R package does that currently. (If

[2020-08-10 04:59] chinandrew commented on #18
On shape data files, is it preferable to package with the releases? It's all pulled from the [Census](https://www.census.gov/geographies/mapping-files/time-series/geo/cartographic-boundary.html), so shouldn't be any [license](https://www.usa.gov/government-works) issues. Don't think it gets updated too often (yearly?) in which case I'm not sure it's worth having the client grab at runtime

[2020-08-10 06:01] chinandrew opened #24 "Add Puerto Rico to R plots"
Currently Puerto Rico is not plotted even if a signal exists for that region.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198970318890831) by [Unito](https://www.unito.io/learn-more)

[2020-08-10 07:34] chinandrew commented on #18
That'd be cool, I can take a look after core functionality is done. In the meantime a slightly techy person should be able to just loop each day and combined the saved plots into a gif or something.

Got it, looks like there's no Puerto Rico data for doctor visits but there is for some of the FB survey data. I'm not sure the R package is plotting it (see screenshot). When I run `fips_info(72)` fro

[2020-08-10 12:31] capnrefsmmat commented on #18
Agreed; I think it's fine to include them in the package and use [pkg_resources](https://setuptools.readthedocs.io/en/latest/pkg_resources.html) to load them out of the package when needed.

The maps are looking good. I think your approach of using the three different Albers projections is reasonable, since it prevents distortions of Alaska and Hawaii. It's unfortunate that usmap doesn't specify i

[2020-08-10 21:06] ryantibs commented on #18
Hi @chinandrew looks some great progress so far: nice work, and thank you!  I'm just quickly popping in here to say that doing "mega counties the right way" is only going to be a lead to a tiny visual change that most people won't notice, so I don't think it should be a high priority.  If you have interest + free cycles, then I think we could find several other issues that would be a higher priori

[2020-08-11 18:34] chinandrew commented on #18
Makes sense, will punt doing that for now.

[2020-08-21 21:07] ryantibs opened #31 "Refactor signal correlations notebook (and app?)"
The correlation-utils branch (soon-to-be-merged, I believe) includes correlation functionality right in the R package.  This will make computing correlations for our own purposes much easier and clean.  The `covidcast_cor()` function is the place to look: it allows us to

* choose whether we slice by time, or slice by geo location, before computing correlations
* specify an arbitrary lag (or lead)

[2020-08-21 21:36] ryantibs opened #32 "Create basic dashboards for our signals"
In writing the Facebook blog post, I wanted to know a bunch of basic things about the Facebook survey, and found myself writing code to find the answers.  Then I thought we should just build a very basic dashboard so that we can constantly check these things.  Dashboard is probably too generous, I'm just talking about a notebook that gets run automatically each day.  I put one up [here](https://cm

[2020-08-22 21:53] capnrefsmmat opened #33 "Handle warnings raised in covidcast_cor"
#29 introduces a `covidcast_cor` function for calculating correlations between time series. Sometimes, though, some of the geographies being correlated have very little data, and so you get this warning:

[code]

That happens if a geography only has a couple days of data, so the relationship between two signals is a perfect line.

You can see this happen in `vignettes/correlation-utils.Rmd` in the

[2020-08-25 00:35] ryantibs commented on #31
I just refactored our signal correlations notebook to use the package code.  See [here](https://cmu-delphi.github.io/covidcast/R-notebooks/signal_correlations.html) for convenience.

@jsharpna @krivard @mariajahja @rumackaaron This exposes that the doctor visits signal correlations have been dropping at the county level now, for a while.  (I showed a static plot of this to James earlier today.).

[2020-08-25 14:28] krivard commented on #31
In principle, yes, we absolutely should auto-run these and monitor system status. There are two moving parts of that system: How should they be run, and who should monitor them?

For how to run them: **I would recommend running them with cron for now, on some machine other than the primary delphi server.** In theory we could run them using Delphi Automation. However, so much of what Delphi produce

[2020-08-25 15:32] ryantibs commented on #31
Thanks @krivard for the detailed reply!  And thanks for the explanation about the difficulties of automation and competing priorities.  Quick response:

- I'm not at all opposed to cron for now, if that's the most sensible immediate solution (which it sounds like it is). Is this something you or Brian can easily set up, just straight from the Rmd's that exist in this GitHub repo?

- Monitoring out

[2020-08-26 21:54] ryantibs commented on #31
@krivard @jsharpna I just reorganized a bit.  The R notebooks are now in the covidcast/R-notebooks directory.  The knitted html files are still in covidcast/docs/R-notebooks, so that you can still see them through GitHub docs [here](https://cmu-delphi.github.io/covidcast/R-notebooks/fb_dashboard.html) and [here](https://cmu-delphi.github.io/covidcast/R-notebooks/signal_correlations.html).

James:

[2020-08-27 05:58] chinandrew opened #38 "Find or produce MSA data files for the Python package"
Split from #13 - Source shapefiles for MSA or use in the plotting functions.

MSAs are part of Core based statistical areas, which can be found on the [census boundary file site](https://www.census.gov/geographies/mapping-files/time-series/geo/cartographic-boundary.html). Combined statisticals are **not** MSAs, as they  are "[various combinations of adjacent metropolitan and micropolitan areas wit

[2020-08-27 05:58] chinandrew commented on #13
Changed this ticket to state and county and made #38  for HRR and MSAs

[2020-08-27 06:02] chinandrew opened #39 "Figure out how to save GeoDFs for testing"
Have looked into this a little bit w/ the GeoPandas [docs](https://geopandas.org/io.html). Can't save to shapefile since it's a datetime, so would have to cast that col to a string. When I save to geojson, 5 out of 3233 geometries don't line up for some reason. When I plot them, they look malformed. Need to look more into this.

[2020-08-27 06:04] chinandrew opened #40 "Find or produce HRR data files for the Python package"
Split from #13 - Source shapefiles for HRR or use in the plotting functions.

I think they're here https://data.cms.gov/widgets/ia25-mrsk (go to menu>download in top right for shapefiles) or here https://atlasdata.dartmouth.edu/downloads/supplemental#boundaries.

[2020-08-27 06:04] chinandrew opened #41 "Add MSA maps in Python package"
Currently geo/plotting functions  only support state and county. Add support for MSAs as well. Blocked by #38

[2020-08-27 06:05] chinandrew opened #42 "Add HRR maps in Python package"
Currently geo/plotting functions  only support state and county. Add support for MSAs as well. Blocked by #40

[2020-08-27 06:07] chinandrew opened #43 "Add bubble map support for plotting"
Currently only choropleths are supported with plotting. Add support for bubble maps like what is available in the [R package](https://cmu-delphi.github.io/covidcast/covidcastR/articles/plotting-signals.html#bubble-maps)

[2020-08-27 06:12] chinandrew opened #44 "Test plotting functions"
Come up with some way to test the plotting functions. Testing plots sucks since everything renders differently. Long thread on it in #27.

[2020-08-27 06:14] chinandrew opened #45 "Update client to utilize pagination"
Copied from https://github.com/cmu-delphi/covidcast-indicators/issues/197
Blocked by https://github.com/cmu-delphi/delphi-epidata/pull/184

[2020-08-27 06:28] chinandrew opened #46 "Animate signals over time"
Given  a signal over multiple dates, return an animation (maybe using [matplotlib animation](https://matplotlib.org/3.1.1/api/animation_api.html))

[2020-08-27 06:36] chinandrew opened #47 "Implement proper megacounty plotting"
Current plotting behaviour is to have all counties without a signal value inherit the megacounty value, and they all get plotted individually. A "proper" implementation would be to have the megacounty plotted as one polygon like it is on the [website](https://covidcast.cmu.edu).

Could do this either by[ joining polgyons](https://shapely.readthedocs.io/en/stable/manual.html#shapely.ops.unary_union

[2020-08-27 12:26] capnrefsmmat opened #48 "Add tools to rearrange data for analysis"
For example, suppose I want to do a regression where I predict cases using various other signals. I need to obtain the signals, join them together, maybe lag some variables, and produce a data frame with one row per location and time, containing all measurements at that location/time.

We should provide a function, name to be determined, that

* takes a bunch of signal data frames
* joins them tog

[2020-08-28 05:34] chinandrew commented on #41
@capnrefsmmat Do we just want metropolitan statistical areas only, or also micropolitan areas? Collectively they make up [ core based statistical areas](https://en.wikipedia.org/wiki/Core-based_statistical_area), and it's not hard to separate them out in the census file.

The website seems like metro-only. I can i) leave them both in, ii) make it an argument as to which one/both to use, defaulting

[2020-08-28 07:42] chinandrew opened #50 "Add tools to Python client to rearrange data for analysis"
Python package version of #48
For example, suppose I want to do a regression where I predict cases using various other signals. I need to obtain the signals, join them together, maybe lag some variables, and produce a data frame with one row per location and time, containing all measurements at that location/time.

We should provide a function, name to be determined, that

    takes a bunch of sig

[2020-08-28 12:08] capnrefsmmat commented on #41
Yes, exactly -- we only produce estimates for metropolitan statistical areas, not micropolitan ones.

The Census data included in the R package (with population estimates and such) includes all of them, including micropolitan, but there's a column that lets you filter by type.

[2020-08-28 19:45] #13 closed

[2020-08-28 19:45] #18 closed

[2020-08-28 20:43] chinandrew opened #52 "Separate out requirements for CI and Dev"
Right now the `requirements.txt` file is just for the CI tool to install testing dependencies. May also be useful to generate a requirements file for devs to be able to install things like wheel, sphinx (and extensions), etc.

[2020-08-29 17:59] capnrefsmmat commented on #9
Added in #29.

[2020-08-29 17:59] #9 closed

[2020-08-29 18:00] capnrefsmmat commented on #12
Documented in #29.

[2020-08-29 18:00] #12 closed

[2020-08-29 18:01] capnrefsmmat commented on #15
Added in #28.

[2020-08-29 18:01] #15 closed

[2020-08-29 18:05] capnrefsmmat opened #55 "Provide functions to look up FIPS codes, CBSA IDs, etc."
As of #29, the R package now has functions `fips_to_name`, `name_to_fips`, etc. for working with FIPS codes and CBSA IDs. See [the documentation](https://cmu-delphi.github.io/covidcast/covidcastR/reference/name_to_fips.html).

This would be very handy for the Python package, because it's pretty inconvenient to have to figure out the right code for a county or MSA to be able to query data for it. I

[2020-08-29 19:50] chinandrew commented on #55
Seems reasonable to do, though I wonder if this is something that would fit well into the geomapping stuff that @jsharpna and @dshemetov are working on. James and I have briefly talked about splitting it into it's own package, but given that that's in a separate repo for now I don't want to upscope the work there. For now I can implement this in a fairly lightweight fashion in this repo and we can

[2020-08-29 20:07] capnrefsmmat commented on #55
Yeah, it's easy to do in a lightweight way for just looking up names and such (the R package just keeps a few data tables to search). But integrating the geomapper would be interesting, because then you could, say, ask what counties are included in an MSA or what data fits into a certain HRR, and do your own custom aggregating. Perhaps a longer-term extension.

[2020-08-29 21:13] dshemetov commented on #55
This seems feasible to me.

[2020-08-30 00:25] #39 closed

[2020-08-30 08:54] chinandrew opened #57 "Adjust mypy settings to be more useful"
Right now mypy is fairly bare bones. We should add some flags to enforce behaviour regarding untyped defs and also having `None` not always return Optional.

Example of config file https://github.com/markkohdev/mypy-example/blob/master/mypy.ini

[2020-08-30 09:02] chinandrew opened #58 "Figure out how to have mypy enforce typing for geopandas and matplotlib objects"
Currently mypy doesn't raise errors if certain objects, such as matplotlib Figures and GeoPandas GeoDataFrames are typed incorrectly. Working theory is because it doesn't recognize them any considers them `Any`, and then everything passes. Either find mypy stubs for these objects, make stubs/custom types, or come up with some other config that captures this.

[2020-09-02 07:52] chinandrew commented on #50
Just to make sure I'm getting this right, is this the intended behaviour?

df1:
[code]
df2:
[code]
df3:
[code]

[code]
Other thoughts on implementation:
- Outer join would retain all rows, which I assume gives most flexibility by default? Could offer an inner join arg as well.
- Order by time and then geo value, just like how signal() currently returns things
- Accept duplicate signals (?), and ju

[2020-09-02 12:04] capnrefsmmat commented on #50
Yes, I think that's exactly right. Your lag behavior matches how [covidcast_cor() behaves](https://cmu-delphi.github.io/covidcast/covidcastR/reference/covidcast_cor.html), and to your point about reusing the word "lag", you could use "dt" like it does.

Accounting for multiple data sources is an issue, since we have signals with the same name reported by different data sources. We could do somethi

[2020-09-03 08:10] chinandrew commented on #50
Cool, thanks.

For now I'm appending the source and signal to the column names, separated by underscores. Opened PR #62 with examples

[2020-09-03 22:38] bnaras opened #63 "Add flexible warning option for production pipeline in the R package"
The upstream data generation pipeline relies on accurate warnings to detect anomalies. Currently, if the process generates warning, I have to explicitly request to see the warnings at the end of the run.  It would really help to send the warnings to a logger as they happen.

The code below, which can be placed in `covidcast/R/zzz.R` as is, allows a user to set an option `covidcast.warning`. If not

[2020-09-04 01:48] capnrefsmmat commented on #63
This is an interesting approach. But couldn't you use `withCallingHandlers` to do this as well? For example,

[code]

Ideally we could raise a condition with a class more specific than `warning` so you can choose which warnings to log and how to log them. If we do that, this becomes a great use case for the condition system.

[2020-09-04 02:46] bnaras commented on #63
Signaling a condition gives the most flexibility, for then I could selectively look at things I want to see. So if you are planning to implement that disregard my comment.  I can then write handlers for what I want to focus upon. Otherwise, I'd be looking at all warnings, not all of which are harmful...

[2020-09-06 12:43] #38 closed

[2020-09-06 12:43] #41 closed

[2020-09-08 00:37] ercbk opened #67 "Aug 29th cases per 100K value missing"
data_source = "indicator-combination"
signal = "confirmed_7dav_incidence_prop"

I use Metro Areas, but looking at your map, it appears to missing for states and counties as well.

[2020-09-08 00:52] krivard commented on #67
Thanks for the report -- it looks like one of the source signals, USAFacts,
is missing on 8/29, causing the gap. Working on a repair run now.

On Mon, Sep 7, 2020 at 8:38 PM Eric Book <notifications@github.com> wrote:

[2020-09-08 15:47] ercbk commented on #67
Looks like you got it. Thx, krivard.

[2020-09-08 15:47] #67 closed

[2020-09-08 22:33] ryantibs commented on #31
@krivard Any updates on setting up the cron job?  As a temporary solution, should I do it on my own stats site (http://www.stat.cmu.edu/~ryantibs)?  Doesn't look hard for me to set up.

And can you remind me, what is the more permanent solution here?  Are we going to hang these off the Delphi website, or somewhere else?

[2020-09-09 10:44] krivard commented on #31
Thanks for the ping, I missed your previous comment. I will set up a cron
job today in a sample space. Once it’s working we can hang it wherever we
like, either off the main Delphi website or off the COVIDcast site once we
migrate away from CMS.

On Tue, Sep 8, 2020 at 6:33 PM ryantibs <notifications@github.com> wrote:

[2020-09-09 14:32] krivard commented on #31
https://delphi.midas.cs.cmu.edu/~krivard/covidcast/

[2020-09-09 18:47] chinandrew opened #71 "Debug HRR shapefile discrepancy"
Thread in #68. Basically the current shapefiles dont line up perfectly with the background light grey state map, so they need to be translated slightly (which was done by hand). There's an additional source of the files (Dartmouth), but AK and HI don't line up correctly for those. Need to figure out some more rigorous way to get consistency between HRR and the existing census shapefiles

[2020-09-09 22:19] ryantibs commented on #31
Thank you!  Lgtm.

@zackchase Can you think about where this should live in the scheme of the new Delphi website.

[2020-09-10 06:23] chinandrew commented on #43
Few questions on this one:
1. Do we want points to scale by area or radius? i.e. for a 2x increase, does the radius or area increase by 2x? I figured doing area would be most accurate, but the R package (screenshot) looks like it scales by radius based on my super scientific inspection below. matplotlib scales by area by default.
    - Value of 1.94 of left, value of 0.89 on right, 700% scale

[2020-09-10 12:09] capnrefsmmat commented on #43
Scaling by radius is almost certainly not intentional; we probably want to edit the R package to use [`scale_size()`](https://ggplot2.tidyverse.org/reference/scale_size.html) to ensure size = area.

I'm not sure about the other points, so I'll let Ryan answer based on how he decided the original function's behavior.

[2020-09-10 12:14] capnrefsmmat opened #73 "Fix R bubble plots to scale by area instead of radius"
In ggplot2's `geom_point`, `size` means radius, rather than area, so `plot_bubble` generates bubbles with radius proportional to value instead of area proportional to value. This exaggerates the size of the largest bubbles.

Currently `plot_bubble` manually constructs a size scale. We should see if we can use [`scale_size_binned_area()`](https://ggplot2.tidyverse.org/reference/scale_size.html) or

[2020-09-10 12:15] capnrefsmmat commented on #43
Filed #73 to track that problem.

[2020-09-11 08:56] chinandrew opened #74 "Have geo_values not take duplicates?"
Current implementation:
[code]

Feels like they should return the same thing.

Should just be one liner `set(geo_values)` if this is what we want to do

[2020-09-11 12:03] capnrefsmmat commented on #74
That seems like a reasonable thing to do, yes. I can't think of a reason we'd want to duplicate them if a user accidentally gets duplicate geos from some source.

[2020-09-11 17:16] capnrefsmmat opened #75 "Python choropleth plots not legible at small sizes"
Consider the following:

[code]

I get this:

![Screen Shot 2020-09-11 at 1 14 47 PM](https://user-images.githubusercontent.com/711629/92954050-c6d9ee00-f430-11ea-855c-f46b793ca651.png)

The colorbar is simply much too small for this size. I have to increase the figsize to at least `(12, 10)` to fit the colorbar text without collisions. Is it possible to adjust the colorbar drawing so it uses the

[2020-09-11 20:51] chinandrew commented on #75
How small do we think we need to go? With just changing arguments I can get it working down to `figsize=(6,4)` (but no smaller than that), with...not too much goofiness to the large maps

(6,4)
![Screenshot from 2020-09-11 13-40-57](https://user-images.githubusercontent.com/20176218/92971681-c7c14e80-f435-11ea-943d-129987961a38.png)

default (12.8,9.6)
![Screenshot from 2020-09-11 13-50-19](https:

[2020-09-11 23:04] capnrefsmmat commented on #75
I guess `(6, 4)` is a reasonable minimum. Is there also an option to pick better ticks? For example, in the images you posted, it'd look a lot nicer if the scale just was 0 to 2 by 0.25 increments, instead of needing 3 decimal digits for each. In R, ggplot2 will try to find nice breaks if it can.

[2020-09-11 23:30] capnrefsmmat opened #76 "County out of place in R bubble plots"
There's a county being placed somewhere in Canada in the bubble plots (just under "confirmed"):

<img width="311" alt="Screen Shot 2020-09-11 at 7 29 31 PM" src="https://user-images.githubusercontent.com/711629/92980677-218d3d00-f465-11ea-883c-c4f93cb17546.png">

[2020-09-11 23:36] chinandrew opened #77 "Mock _signal_metadata in Python plotting test"
Realized this wasn't being mocked out, and so the unit tests are currently making network calls which is undesireable.

[2020-09-11 23:40] chinandrew commented on #75
Right now the line breaks are 8 ticks between 0 and mean+3 std dev, which aligns with the R package. I could just make it round to 2 decimals, which is also what the R package does (I had left out since the large plots had enough space). Could also do equal intervals, maybe by rounding vmax to the nearest 0.25, though that has consequences if someone enters a custom vmax.

Then (6,4) looks like th

[2020-09-12 16:38] ryantibs commented on #43
Thanks @chinandrew, great comments!  This has been a busy week and I haven't been able to get to this yet.  I'll hope to block off a bit of time, maybe sometime this weekend.

1. Oops, I didn't intend to scale by radius, I'll take a look (and noted @capnrefsmmat, on #73).
2. I'm not sure which one I like better: yours looks cleaner, but truthfully I think both are pretty confusing; there's so much

[2020-09-12 16:39] ryantibs commented on #76
That was an Easter egg to acknowledge my Canadian heritage!

Just kidding. I'll think I know why this is happening, I'll try to get to this sometime this weekend, as well as #73 and Andrew's comments in #43.

[2020-09-12 17:01] capnrefsmmat commented on #76
@ryantibs FYI I have half an attempt to fix #73 in progress, except in my fix, the legend scales by area and the actual plot still seems to scale by radius... not sure what's going on. So I guess feel free to make a separate attempt to fix it, because I'm currently stumped.

[2020-09-13 18:15] #63 closed

[2020-09-13 18:47] capnrefsmmat commented on #75
I think that looks pretty good. 2 decimals should be fine for almost any case, and would in fact be overkill for many signals (do we need two decimals when comparing 55% to 60%?). But a fancier automatic scheme to pick breakpoints is out of scope here.

[2020-09-13 19:08] #55 closed

[2020-09-13 19:16] chinandrew commented on #75
cool, Opened #81

[2020-09-13 19:28] #75 closed

[2020-09-13 21:52] #74 closed

[2020-09-14 07:22] chinandrew commented on #46
So turns out this isn't super hard by just saving plots out and combining them into a gif. After pulling 30 days worth of data, it's 6 lines of code (5 if you don't use a temp dir) to generate a gif using the following code. Downside is it takes 3 minutes to run, as the plotting function isn't very optimized for this. e.g. it loads the shapefiles 30 times instead of having a plotting object load o

[2020-09-14 13:27] capnrefsmmat commented on #46
Yeah, I found MPL animation to be pretty difficult when I last used it a few years ago. I wonder if there have been improvements since.

The text seems to be ugly because there's no anti-aliasing, probably because GIFs only support 256 colors. Or maybe just because MPL doesn't do antialiasing on GIFs. We'll probably want to write to MP4 or WEBM, for embedding, although I dunno if that's possible t

[2020-09-15 09:06] chinandrew commented on #46
After trial+erroring some file formats, compressions, and palates, the best combo for GIFs seems to be outputting JPGs and RGBA, but you still get weird artifacts for solid colors and on the colorbar.

Using imageio to write to mp4 gives better results and is still equally short code

[code]

screenshot
![Screenshot from 2020-09-15 02-03-19](https://user-images.githubusercontent.com/20176218/93190

[2020-09-18 08:56] chinandrew commented on #47
Went with the "plot states with megacounty signal and then counties on top" approach for now. Yields the following:

![Screenshot from 2020-09-18 01-54-47](https://user-images.githubusercontent.com/20176218/93578347-11d49380-f952-11ea-9a2a-b7634c4dc02a.png)

Need to do some cleanup on code before opening a PR.

[2020-09-19 20:43] jacobbien opened #83 "Fix examples in ?covidcast_signal"
Currently they give an error because `start_day` and `end_day` are not in proper format (missing hyphens).

[code]

[2020-09-20 00:51] #50 closed

[2020-09-20 00:52] #42 closed

[2020-09-20 06:16] chinandrew commented on #77
Fixed in #69

[2020-09-20 06:16] #77 closed

[2020-09-20 06:17] chinandrew commented on #57
Fixed in #62

[2020-09-20 06:17] #57 closed

[2020-09-20 06:17] chinandrew commented on #40
Fixed in #42

[2020-09-20 06:17] #40 closed

[2020-09-21 23:34] #83 closed

[2020-09-24 13:49] lematt1991 opened #87 "Error when fetching metadata from the API"
I'm currently seeing the following error:

[code]

When getting metadata:

[code]

[2020-09-24 14:01] capnrefsmmat commented on #87
Works for me here. Do you know what version of the package you have installed? You can find out with `pip show covidcast`.

It's possible that you have an older version that points at delphi.cmu.edu instead of api.covidcast.cmu.edu. The delphi.cmu.edu endpoint can be very slow or fail to return responses when major database operations are occurring.

[2020-09-24 14:04] lematt1991 commented on #87
Ah that was it, thanks for the quick reply!  `pip show covidcast` gave:

[code]

`pip install --upgrade covidcast` brought me up to 0.0.9 which works.  Thanks!

[2020-09-24 14:04] #87 closed

[2020-09-25 09:48] chinandrew commented on #47
Well turned out attempting to clean that code took far too long, so I scrapped it and decided to just merge polygons. draft PR is #89

[2020-09-25 19:54] #46 closed

[2020-09-25 20:00] capnrefsmmat opened #90 "Cut a new Python client release"
- [x] Update changelog to describe changes since 0.0.9
- [x] Rebuild all documentation and proofread for typos
- [x] Change version number in setup.py and the Sphinx config file
- [x] Build new package dists
- [x] Upload to PyPI
- [ ] Announce to API mailing list

@chinandrew, any changes we need to make before we should release 0.0.10? Should we celebrate by calling it 0.1.0?

[2020-09-27 07:17] chinandrew commented on #90
I'll take a look tomorrow on any last items. In terms of release numbering,
have we been using any specific system or just incrementing up? Depending
on how formal we want to be, would suggest something like semantic
versioning (https://semver.org), potentially modified where needed. In that
model, incrementing minor version makes sense. It also states we
technically should be on major version 1 s

[2020-09-27 12:42] capnrefsmmat commented on #90
I'm happy to use SemVer. I think it lets us do anything we want when we're still 0.x.y, so that leaves us the question of when we're ready to declare our public API stable and release 1.0.0. I'm thinking that should wait until we have some more users, and feedback from those users, so we know our design decisions are solid.

[2020-09-28 05:09] ryantibs commented on #43
@chinandrew @capnrefsmmat Sorry to be so late on this.  I finally managed to find a bit of time now to look at it.  With respect to Andrew's questions:

1. So there's a couple things going on here.  First of all, the bubble sizes are *supposed* to be evenly-spaced across the range from `min_size` to `max_size`.  Here and throughout, when I say size, I mean area.  Note that this doesn't necessarily

[2020-09-28 05:54] ryantibs commented on #76
So this turns out to be a bit different than what I thought originally.  It looks like a bug with `usmap::usmap_transform()`

That misplaced bubble looks to be Aleutians West:

  | STATE<chr> | CWA<chr> | COUNTYNAME<chr> | FIPS<chr> | FE_AREA<chr> | LON<dbl> | LAT<dbl>
-- | -- | -- | -- | -- | -- | -- | --
3297 | AK | AFC | Aleutians West | 02016 | NA | -111.1392 | 52.8883

The `usmap` package tuc

[2020-09-28 09:18] chinandrew commented on #43
Cool, thanks for digging into this. I'll replicate that behavior in the Python version.

[2020-09-28 15:19] capnrefsmmat commented on #76
It looks like the usmap package specifies a bounding box for Alaska and gives special treatment to everything in that box: https://github.com/pdil/usmap/blob/master/R/transform.R#L87

Is it possible that the Aleutians don't entirely fit inside that bounding box? If so, we could report a bug in their repo and give the example of the island that's not in the box.

[2020-09-30 18:48] capnrefsmmat opened #94 "Make the package documentation serve as a better starter guide"
For both the R and Python package documentation, we need to be a bit more welcoming. A new user will want to know

1. How can I find a certain type of data? What kind of data is available? The package docs refer you to the COVIDcast API docs, but don't give any overview and don't explain how to find the appropriate data source and signal names to plug into the packages.
2. What does it mean that t

[2020-09-30 18:48] capnrefsmmat commented on #73
Fixed in #91.

[2020-09-30 18:48] #73 closed

[2020-09-30 18:50] capnrefsmmat commented on #11
Note that the Python package now has MSA and HRR shapefiles included (see its [shapefiles directory](https://github.com/cmu-delphi/covidcast/tree/main/Python-packages/covidcast-py/covidcast/shapefiles)), so this should just require porting those over and adding the appropriate code to `plot.R`.

[2020-09-30 23:21] chinandrew commented on #90
Oops accidentally had this closed, but there's still open tasks. Reopened.

[2020-10-01 06:27] chinandrew commented on #90
@capnrefsmmat are the last 3 things that you have to do since you have the pypi account?

[2020-10-01 12:20] capnrefsmmat commented on #90
Yep. I'll check out the docs, then do the PyPI release.

[2020-10-01 16:57] nickreich opened #96 "Missouri ("mo") data from 'jhu-csse' missing for early dates"
The following line of code returns no data
[code]
And gives warning messages like
[code]

However data for "mo" was certainly available at this time, as can be seen from this file:
https://github.com/CSSEGISandData/COVID-19/blob/476c78eb96eb2d34483daea4c2fc44f3b38bf847/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv#L1604

Can these early data for "mo" be added (mayb

[2020-10-01 18:01] capnrefsmmat commented on #96
It looks like the earliest issue date available for this signal is 2020-05-07, so you won't be able to get the signal with `as_of="2020-05-06"`. This is likely because we had to retroactively reconstruct the historical data from our database backups when we introduced revision tracking.

@eujing, do you recall what date range was available to us when we reconstructed JHU issues, and why May 7 is t

[2020-10-01 18:11] nickreich commented on #96
I guess I had expected that the data in this would be a facsimile of data available as of the versions of the JHU data on GitHub, but sounds like that isn't the case. Is it documented somewhere what the "ground truth" is for each source?

[2020-10-01 18:50] capnrefsmmat commented on #96
The ground truth for this source is the JHU data on GitHub. Every day, our pipeline downloads the latest CSV, parses all the geographies, and produces the signal you see in the API.

The problem is that `as_of` support requires a historical record of what data we ingested on a particular day. For example, if on May 7th JHU retroactively changes the count for Missouri on April 20th, asking for the

[2020-10-01 19:20] nickreich commented on #96
I see, thanks! that makes sense to me.

However, given that the public revision history is out there in the world to see, I suggest that you all consider, for a few sources (including JHU CSSE, which happens to be the source we at the COVID-19 Forecast Hub care about :-) ), tracing back the revision history based on the public record. As it is, your covidcast signal can't be comprehensive and auth

[2020-10-01 19:24] krivard commented on #96
This work is under way in cmu-delphi/covidcast-indicators#23, and the geocoding refactor it's currently blocked on is expected to merge by early next week.

[2020-10-01 19:27] nickreich commented on #96
awesome, thanks for the update! I'll close this issue for now.

[2020-10-01 19:27] #96 closed

[2020-10-01 22:07] chinandrew opened #97 "Update python develop readme with more info"
Add some additional info to the DEVELOP.md file re: developing, testing, documentation, etc. Will be useful with more people coming onboard

[2020-10-02 00:52] jacobbien opened #98 "Make predictions cards and score cards S3 objects with print and plot functions"
Currently they are tibbles, i.e. of class

`"tbl_df"     "tbl"        "data.frame"`.

Instead, we'd have them inherit from the above but be their own class.  For example, a predictions card would have class

`"predictions_card"     "tbl_df"     "tbl"        "data.frame"`

and then

* `print.predictions_card` would print out some of the attribute information (for example, name of the forecaster, `f

[2020-10-02 01:05] jacobbien opened #99 "Use Zoltar API rather than scraping GitHub"
The functions in evalcast's [get_covidhub_predictions.R](https://github.com/cmu-delphi/covidcast/blob/evalcast/R-packages/evalcast/R/get_covidhub_predictions.R) currently use `rvest` and `xml2` to scrape data off of github.

* Do this the proper way with the github API, accessible through the R package [`gh`](https://github.com/r-lib/gh).  This means rewriting `evalcast::get_forecast_dates` and `e

[2020-10-02 07:43] jacobbien opened #100 "not hard-coding covidhub_probs"
Currently, the function `check_valid_forecaster_output` (in [evaluate.R](https://github.com/cmu-delphi/covidcast/blob/evalcast/R-packages/evalcast/R/evaluate.R)) makes sure that the forecaster has outputted all 23 quantile levels, hard-coded as `covidhub_probs`:

`covidhub_probs <- c(0.01, 0.025, seq(0.05, 0.95, by = 0.05), 0.975, 0.99)`

However, this is overly restrictive since, as Vishnu pointe

[2020-10-02 08:15] jacobbien opened #101 "add function that makes trajectory plots"
Given a list of predictions cards corresponding to the same forecasting task except with varying ahead and forecaster, makes a plot where one sees the actual response over a specified period and the forecast trajectories, faceted by location.  Each forecaster's trajectories are a different color (showing median).  The 100(1-alpha)% prediction interval is shown with a gray band (`geom_ribbon`).

`p

[2020-10-02 08:18] jacobbien commented on #98
To clarify, `plot.predictions_card` would probably just call the function described here: #101.

[2020-10-02 15:56] ajgreen93 commented on #101
@jacobbien @jsharpna I'd be happy to take a pass at this on Monday.

[2020-10-02 19:09] JedGrabman opened #102 "Vignettes are not included in package and source links lead to 404s"
The [Get started with covidcast](https://cmu-delphi.github.io/covidcast/covidcastR/articles/covidcast.html) guide includes a link to the source at vignettes/covidcast.Rmd. This is likely intended to lead to:
https://github.com/cmu-delphi/covidcast/blob/main/R-packages/covidcast/vignettes/covidcast.Rmd

but actually leads to the non-existent:
https://github.com/cmu-delphi/covidcast/blob/main/vignet

[2020-10-02 19:29] capnrefsmmat commented on #102
It looks like `devtools::install_github` might not build and install the vignettes by default. They do take a long time to build. I wonder if we should find another way to distribute the package (or work towards getting on CRAN properly).

As for the link not working, I'd appreciate help figuring that out. The source links are broken on all the documentation pages, because pkgdown seems to assume

[2020-10-05 06:42] chinandrew commented on #94
How do we think about what belongs in the covidcast documentation vs the epidata api documentation? It sounds like the intention is that the covidcast package is aimed at users across the spectrum of technical skills, and the documentation should be pretty self suffiicentn with the exception of the specifics of each signals. Is that a good starting point?

[2020-10-05 12:26] capnrefsmmat commented on #94
Yes, I think that's about right.

[2020-10-05 16:04] JedGrabman commented on #102
I was able to build the vignettes by running the following

[code]
It's probably worth mentioning this as an option in the documentation, although it is quite slow.

I'm not very familiar with pkgdown. I did see that [the documentation](https://pkgdown.r-lib.org/reference/build_site.html#yaml-config) differentiates between a destination (where the site is generated) and the url (where site is host

[2020-10-05 16:26] capnrefsmmat commented on #102
The destination ensures that when I'm in `R-packages/covidcast/` and run `pkgdown::build_site()`, it places the rendered documentation in `docs/covidcastR/` instead of in `R-packages/covidcast/docs/`. Placing them under `docs/` is necessary for our GitHub Pages setup.

It seems that interacts badly with its package auto-linking.

[2020-10-05 20:14] jacobbien opened #105 "Address R CMD CHECK notes"

[2020-10-05 20:17] jacobbien opened #106 "Allow a forecaster to have additional arguments"
A primary use case would be when a forecaster uses a static data frame (e.g., census data).

- `get_predictions` would be passed these additional arguments using ...
- Perhaps `baseline_forecaster` should be modified to demonstrate this functionality?  Or at least its documentation could be
- these additional arguments would then be passed to forecasters

[2020-10-06 01:43] jacobbien opened #107 "cache previously downloaded data"
To avoid excessive numbers of repetitive calls to covidcast (and for improved performance), we can cache data that has been downloaded by evalcast.  We just need to be sure that it's an identical query to covidcast (not just the same signal and start/end dates but also -- and this is important -- the same as_of).

To do this, one would modify [`evalcast::download_signal`](https://github.com/cmu-de

[2020-10-06 08:16] chinandrew opened #108 "Update covidcast.signal return values in docstring"
Currently the docstring is missing a few columns which get returned, and is also out of order

[2020-10-06 08:16] chinandrew opened #109 "Update covidcast.metadata() return values in docstring"
Currently the docstring is missing a few columns which get returned, and is also out of order

documented:
` data_source signal min_time max_time geo_type time_type num_locations min_value max_value mean_value stdev_value`

returned (with example row:

[code]

capnrefsmmat  I'm not actually sure what those last 4 undocumented columns mean, is there a reference somewhere? Is the last updated in uni

[2020-10-06 18:26] JedGrabman commented on #102
I spent a little bit trying to find a way to fix the 404's but didn't come up with anything simple. While we potentially could generate files then move them, I think going down that route would be fragile and wouldn't recommend it.

Probably best to file a bug report with pkgdown since it seems to generate the links incorrectly when using the destination flag.
I can do that and add to our installa

[2020-10-06 18:29] capnrefsmmat commented on #102
That would be great, thanks. pkgdown probably needs an option to specify where the package is relative to the GitHub repo root, so it can generate the links accordingly.

[2020-10-06 21:46] jacobbien opened #112 "data corrections within evalcast"
Incorporate the Delphi data corrections into evalcast.  This should probably always only be offered as an option that can be turned on/off rather than always being on.

dajmcdon would be the best person to do/direct this.

Data correction is relevant at various stages:

1. when predictions are made by a forecaster using `evalcast::get_predictions`
1. when predictions are being evaluated using `eva

[2020-10-06 21:48] jacobbien opened #113 "Every message/warning/error should include the name of the function as a prefix"
(Suggested by @bnaras:) This will help us track down issues quickly.  Example: warning("evalcast::foo", "you called bar instead!")

[2020-10-06 21:49] jacobbien opened #114 "Use assertthat"
(Suggested by @bnaras:) Use `assertthat` where we check input args and preconditions as they mark the checks as not too associated with the core computations (as opposed to `stop` and `stopifnot`)

[2020-10-06 22:03] capnrefsmmat commented on #113
You can also use [`rlang::abort` and `rlang::warn`](https://rlang.r-lib.org/reference/abort.html); `abort` always generates a traceback that lets you see where the error came from. They also take an argument to specify an error type, so other code can catch errors of that type.

We now use this in the covidcast package; see #65.

[2020-10-07 14:52] JedGrabman commented on #102
I've created a pkgdown bug [here](https://github.com/r-lib/pkgdown/issues/1420).

[2020-10-08 06:43] chinandrew commented on #109
I think I found the answers [here](https://github.com/cmu-delphi/delphi-epidata/blob/d3a412c9b69c8e2e5e25340993ac5159a69a01b0/docs/api/covidcast_meta.md)

Should we convert the unix time to a date[time] object?

[2020-10-08 12:23] capnrefsmmat commented on #109
Yeah, I think that'd be helpful. It's unfortunate that a Unix timestamp crept into the metadata, so let's convert it to a datetime.

[2020-10-08 17:59] JedGrabman commented on #76
I think the issue is actually in our county_geo dataset:

[code]

The dot is placed at that latitude and longitude on the map.
My theory is that the centroid is miscalculated because the Aleutians are long enough that they extend into the Eastern hemisphere, causing the numeric representation to change from negative to positive.

[2020-10-08 18:13] capnrefsmmat commented on #76
Huh. So the process that produces our county geographies produces a bad one. That data is produced here: https://github.com/cmu-delphi/covidcast/blob/main/R-packages/data-raw/make.R#L35-L43

Perhaps our data source (the shapefile in that directory) got it wrong, and we need to correct the data frame?

[2020-10-08 19:55] jacobbien opened #119 "plot_coverage - implement type = "one""
The function [`evalcast::plot_coverage`](https://github.com/cmu-delphi/covidcast/blob/evalcast/R-packages/evalcast/R/plot_calibration.R) has an option `type = "one"` which is not yet implemented.

This would be a line plot of prop_covered vs. forecast_date, where prop_covered is the proportion of locations for which the nominal 100(1 - alpha)% interval covers the actual value.  Each forecaster wou

[2020-10-08 19:58] jacobbien opened #120 "Vignettes for evalcast"
[These slides](https://cmu-delphi.github.io/covidcast/talks/evalcast/talk.html) demonstrate state-level incidence forecasting.  However, we should also have short vignettes demonstrating

* state-level cumulative forecasting
* US-level forecasting
* county-level forecasting (perhaps with cases to match what is available on COVID Hub)

Note: for k-week-ahead cumulative forecasting, one would set `i

[2020-10-08 20:37] bnaras commented on #105
I'll take this.

[2020-10-08 20:39] dajmcdon commented on #105
We're running into this with the `aardvark` refactor, `strawman`, even the `template` package. I'm assuming its the same issue. Ignoring at the moment, but there's [this note](https://dplyr.tidyverse.org/articles/programming.html#eliminating-r-cmd-check-notes) from `dpylr`, if you haven't seen it. Seems like a pain to

[2020-10-08 20:40] bnaras commented on #98
I can take this too.

[2020-10-08 20:42] dajmcdon commented on #112
Yeah, I'll take this one.

[2020-10-08 20:45] bnaras commented on #113
I second this suggestion by @capnrefsmmat!

[2020-10-08 20:52] jacobbien commented on #98
Great!

[2020-10-08 21:09] JedGrabman commented on #76
I checked and the error is present in our data source.

Since we're using `usmap` for our mapping purposes, it might fix some of our alignment issues if we just used their county locations as well. I see they have a csv with centroids here:
https://github.com/pdil/usmap/blob/e716aa3e7191dd576b198956ca769b012b8af37d/data-raw/maps/us_counties_centroids.csv

[2020-10-08 21:18] capnrefsmmat commented on #76
That sounds like a good option. Can you check if their data file covers the same FIPS codes as ours, and if so, switch us to use it?

[2020-10-08 21:38] #97 closed

[2020-10-08 23:19] jacobbien commented on #105
Thanks @bnaras.  Inspired by what Naras had done in evalforecast, I wrote a bit of code that is commented out in [globals.R](https://github.com/cmu-delphi/covidcast/blob/evalcast/R-packages/evalcast/R/globals.R) to process the output of R CMD CHECK...

[code]

[2020-10-09 01:47] chinandrew commented on #109
:+1: Done in #118

[2020-10-09 01:55] chinandrew commented on #52
closed by #117

[2020-10-09 01:55] #52 closed

[2020-10-09 02:10] #90 closed

[2020-10-09 13:51] JedGrabman commented on #76
Can do. Can you assign this issue to me? I don't think I have permission.

[2020-10-09 15:57] krivard opened #121 "Refactor API calls to batch request multiple geo_values where appropriate"
cmu-delphi/delphi-epidata#221 now works (docs update forthcoming), so the clients can now batch requests for multiple geo_values into a single API call.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198970306664846) by [Unito](https://www.unito.io/learn-more)

[2020-10-09 16:43] capnrefsmmat commented on #121
For reference, I think this means we can do one API call per day, regardless of the number of geo_values, instead of one per day per geo_value.

For the Python package, this will require updating [the delphi-epidata Python client](https://github.com/cmu-delphi/delphi-epidata/blob/main/src/client/delphi_epidata.py#L557) and releasing a new version on PyPI, which will require @dfarrow0.

For the R p

[2020-10-09 20:51] JedGrabman commented on #121
I'm not very familiar with httr, but after a quick look, I don't think I'll need to deal with it directly. This may be as simple as updating how the covidcast function within covidcast.R handles the geovalue parameter. Go ahead and add me as an assignee and I'll work on the R package portion.

[2020-10-09 20:56] capnrefsmmat commented on #121
Yeah, I think you'll just have to make it look more like how the `issues` parameter is handled, using the helper functions that are already there.

[2020-10-11 21:20] sarah-colq commented on #114
Working on this (trying to figure out how to assign to me...)

[2020-10-12 15:15] bnaras commented on #105
@jacobbien and @dajmcdon: The use of `utils::globalVariables()`, though a recommended solution, was always a bit hacky. I had to do that for `evalforecast` and other packages initially for expediency. The solution now is to use either the embrace operator `{{ }}` or `rlang::.data` to get around these notes.  I started doing this for `baseline_forecaster` and also for the simpler `absolute_error()`

[2020-10-13 21:26] JedGrabman commented on #76
It looks like the counties are the same fips codes.

There are some differences in how counties are named, mostly things like `City of Foo` vs. `Foo City` or `St. Foo` vs `Saint Foo`.
The more systematic difference is that we store names as `Foo` and usmap stores them `Foo County`. This is meaningful for locations that are not counties. For example, on our public facing maps we incorrectly display

[2020-10-13 23:37] capnrefsmmat commented on #76
That sounds good. Note that the COVIDcast website doesn't depend on the data in the R package; it has its own data files listing counties and their locations. So you need not worry about breaking the website.

I think it makes sense to go ahead and switch the R package completely to `usmap`, provided it has everything we need, so we can make geography into somebody else's problem.

[2020-10-15 19:52] ryantibs commented on #76
Thanks Jed for all the progress here!  So now I take it that we're not using the old `county_geo` and `state_geo` at all, for anything?

I didn't look at the details of your PR #122, but should we overwrite `county_geo` and `stage_geo` as appropriate, with the new geo data from `usmap`?

[2020-10-15 20:19] krivard opened #123 "Add instructions for testing the python package"
There's a DEVELOP.md in the python covidcast package, which is great, but it only includes instructions for publishing a new version. What are the magic incantations for running tests and linting? It looks like we're maybe using mypy and pylint?

[2020-10-15 20:26] chinandrew commented on #123
Good call. I might just create a makefile that lets you run `make lint` and `make test` and will handle all the necessary commands.

[2020-10-15 20:53] jacobbien opened #124 "Comprehensive testing for packages"
Sarah C. suggested that it would be helpful to have tests based on a mini data set.

David F. mentioned: "it's possible to spin up a local instance of the epidata api inside of a docker containr, and tests would just need to point at that rather than the actual api
"

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198970305385997) by [Unito](https://www.uni

[2020-10-16 03:39] dajmcdon commented on #107
I'll take this

[2020-10-17 00:00] bnaras commented on #105
I am now done with this and have made a PR.

[2020-10-18 09:19] #105 closed

[2020-10-19 14:15] JedGrabman commented on #76
Agreed. I left more comments on the pull request. If usmap made the centroid data available through another means, I might suggest deleting the `county_geo` and `state_geo` files entirely to simplify things. However, I think your suggestion to use them essentially to cache data improves our stability since we're relying on internal details of usmap now.

[2020-10-19 14:30] #123 closed

[2020-10-19 19:37] #43 closed

[2020-10-20 15:49] ryantibs commented on #76
We are all good her; I just merged PR #122.  Thanks Jed.

[2020-10-20 15:49] #76 closed

[2020-10-20 20:10] #108 closed

[2020-10-20 20:34] JedGrabman commented on #120
I'm starting work on a vignette. Can you assign the issue to me?

My initial plans

**Getting predictions**:
* Using `get_predictions` (with `baseline_forecaster`)
* Using `get_covidhub_predictions` (with "CMU-TimeSeries")
  * May make use of `get_forecast_dates` and `filter_predictions`

**Evaluating predictions**:
* `evaluate_predictions`
* plots
  * `plot_coverage`
  * `plot_width`
  * `plot_me

[2020-10-20 20:43] jacobbien commented on #120
Thanks, Jed this sounds great!

[2020-10-20 21:02] jacobbien opened #129 "fix plot_width to depend on cards"
Currently the function `evalcast::plot_width` takes in an argument called `cards` but then uses `scorecards`.  Very wrong, but easy to fix.

[2020-10-21 02:46] ryantibs commented on #11
@JedGrabman @sarah-colq This seems like a good first issue for Sarah to tackle (I know she's learning R now).  Maybe Sarah you can give it a shot and Jed can give you feedback/guidance?

[2020-10-21 02:55] ryantibs commented on #24
@JedGrabman @sarah-colq This seems like another good one for Sarah to try (as she's learning R).  Maybe Sarah you could give it a shot and Jed could give you feedback/guidance?

And don't hesitate to check in with @chinandrew (or directly check out what he did in #18 for Puerto Rico in the Python package) to see whether this was done by Puerto Rico's exact lat/lon (I would guess not) or some kind

[2020-10-21 02:58] ryantibs commented on #33
@JedGrabman Just raising your attention to this, in case you're curious and have a few spare cycles.

[2020-10-21 03:05] ryantibs commented on #48
@chinandrew I'm sorry to ask because it's a bit lazy but ... can you point me to exactly where you implemented this in the Python package so I can see the naming and argument specifications you chose?

I already have similar functionality sitting around in some analyses/demo notebooks (like the [forecasting demo](https://delphi.cmu.edu/blog/2020/09/21/can-symptoms-surveys-improve-covid-19-forecast

[2020-10-21 03:57] ryantibs opened #131 "Derivative functionality"
Direction isn't being supported in the API anymore, and we decided to move all direction calculations over to the client side.

First, we should nix the references to direction in the R package entirely (and eliminate any functionality that uses it, like the plotting functionality).  I believe this was done for the Python package in #128.

We should offer functionality in the covidcast package(s)

[2020-10-21 05:04] chinandrew commented on #48
This is in Python-packages/covidcast-py/covidcast.py in `aggregate_signals()` with documentation at the bottom of the first section here https://cmu-delphi.github.io/covidcast/covidcast-py/html/getting_started.html.

We had a few discussions on the right interface (e.g. pandas has a multiindex DF) in #62, which might be Python specific but potentially worth a read (and you'll have to excuse my hor

[2020-10-21 05:52] chinandrew commented on #24
In the Python package, Alaska, Hawaii, and Puerto Rico were all transformed to roughly match positions with the web map.

:imp:. Not opposed to this, though my R development speed will be an order of magnitude slower given I haven't used it in 3 years. Syncing with Katie later this week to align on responsibilities and will have a better idea of my time allocation afterwards

[2020-10-21 07:29] jacobbien opened #132 "Allow for a non-quantile forecast in a predictions card"
A predictions card has two columns: `probs` and `quantiles` (see e.g. [this slide](https://cmu-delphi.github.io/covidcast/talks/evalcast/talk.html#(7))).  However, sometimes a forecaster may produce a point forecast.  (For example, on the COVID Hub they allow forecasters to submit point forecasts in addition to quantile forecasts.). This could be useful for hotspot detection where one might simply

[2020-10-21 12:14] capnrefsmmat commented on #48
Yeah, I think in R we should be able to do this with just `rbind` and `dplyr::pivot_wider` and a few extra steps to clean up the metadata and column names.

[2020-10-21 16:09] ryantibs commented on #124
@jacobbien I hijacked this issue!  Hope that's ok. ;)

This issue should be made more broad: we should implement comprehensive unit tests for our packages, to make sure that each time we update them, we don't break existing functionality.  This is easy to do in R with the `testthat` package (and nicely integrates into package development).  I'm sure Python has good functionality too.

Despite the

[2020-10-21 16:12] sarah-colq commented on #24
I'm going to try this.  My R development knowledge is about a week old @chinandrew so I am right there with you.

[2020-10-21 16:27] nickreich commented on #132
Wondering if you all have looked in detail at the data structure at zoltardata.com that hosts the Hub forecasts and whether (a) you could download data from the API from there directly via our R or python package or (b) you could design your system to more directly interface with these general forecast data types?

[2020-10-21 16:46] chinandrew commented on #124
Don't have a ton of background on evalcast (or the R client at a low level), and have not unit tested R before, but few notes:

- Looks like there's some [mocking](https://github.com/r-lib/mockery) functionality for R, which might be usable for the API. The Python tests mock out all networks calls this way.
- Testing _might_ will tell you when things break, but dependency management goes beyond th

[2020-10-21 17:44] benjaminysmith opened #134 "Choropleth map plot does not work if all the state values are the same (R library)"
When trying to plot data that has the same value for every state I get: "Error: Breaks and labels are different lengths". Changing one value slightly allows the plot. I suspect this is because of the way that the legend breaks vs labels are calculated.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198970434114006) by [Unito](https://www.unito.io/learn-mor

[2020-10-21 18:03] benjaminysmith commented on #32
I am adding basic coverage and sampling dashboards for all of the signals, similar to what we already have for symptom surveys.

- [ ] Doctor Visits
- [ ] Google Health Trends
- [ ] Hospital Admissions
- [ ] Indicator Combination
- [ ] JHU Cases and Deaths
- [ ] Quidel
- [ ] SafeGraph Mobility
- [ ] Symptom Surveys
- [ ] USAFacts Cases and Deaths

[2020-10-21 20:25] sarah-colq commented on #24
The usmap package we use in the R package doesn't currently have Puerto Rico.  There is a pull request to add it on the package, but there are build problems: https://github.com/pdil/usmap/pull/34.

[2020-10-21 20:38] chinandrew opened #137 "Add fips to/from abbr to Python package"
They are being added to R in #136, need to do the same for Python.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198970300808983) by [Unito](https://www.unito.io/learn-more)

[2020-10-22 06:29] jacobbien commented on #132
Thanks Nick.  In issue #99 I had made a note that we should be using zoltr rather than scraping -- definitely the better thing to do!  In terms of accommodating more general forecast data types, this is not something I had considered.  I was able to find [this page](https://docs.zoltardata.com/targets/).  I assume this is what you are referring to?

[2020-10-22 13:54] nickreich commented on #132
Yes that is the right reference point. Probably overkill to engineer evalcast to deal with anything other than quantile/point forecasts (although CDC has used bin forecasts in the past as well), but just wanted to make sure that this general conceptual  framework for forecasts was on your radar as you move forward with design.

[2020-10-22 13:56] nickreich commented on #99
Note that we are likely to start supporting forecast versions in future versions of zoltar (maybe by end of 2020?) but as of right now, the [covid hub zoltar project](https://zoltardata.com/project/44) just stores whatever forecast was most recently submitted.

[2020-10-22 13:56] nickreich commented on #99
relevant resource for using zoltr to get/plot forecasts: https://covid19forecasthub.org/talks/zoltar.html#(1)

[2020-10-22 14:15] capnrefsmmat opened #139 "Make covidcast.signal give more specific warnings when data is not available"
See https://github.com/cmu-delphi/covidcast-indicators/pull/343#discussion_r510188822

We should augment the warnings with source, signal, date, and geo_type, so anyone logging can find this out. (We already did this in the R package by raising a custom warning condition that can be handled appropriately with a logger.)

[2020-10-22 14:24] chinandrew commented on #139
You're referring to this message in the R package right?

[code]

[2020-10-22 14:36] capnrefsmmat commented on #139
Yes -- it raises a custom warning object with all the additional information attached: https://github.com/cmu-delphi/covidcast/blob/02fc4dfc3b40587a2102166fef25255bfe60af4e/R-packages/covidcast/R/covidcast.R#L660

R's condition system lets users intercept that warning and log it however they desire.

[2020-10-22 18:13] chinandrew commented on #139
So spend a bit of time looking into this, it seems like Python doesn't really emphasize adding custom attributes to warnings over just passing a message through. You _can_, but not sure it's generally used. This was based on 30 min of googling so maybe there's something I'm missing.

For now, I'm thinking of adding a custom warning class called `NoDataWarning` and having it warn with a message lik

[2020-10-22 18:51] capnrefsmmat opened #141 "Set up branch protection and code owners in this repo"
GitHub supports branch protection, preventing people from pushing to `main` without code review. It also supports [code owners](https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners), which would let us specify that certain people have to review changes to certain sets of files.

For example, we could designate two or three R package m

[2020-10-22 18:59] capnrefsmmat commented on #139
Yeah, that sounds fine. I agree that custom warning attributes aren't common in Python, so ensuring the message is descriptive is probably the best thing.

(Custom warnings actually aren't used much in R either, which is a shame, because R's error-handling system is actually cloned from Common Lisp's condition system. It's fantastically sophisticated and flexible, and nobody uses it.)

[2020-10-22 19:29] ryantibs commented on #107
@jacobbien @dajmcdon @bnaras Some comments from me, as I'm working through evalcast now ... and starting to use it for some simple analyses.

First, [this explanation](https://www.r-bloggers.com/2020/04/caching-in-r-2/) for caching options in R seems pretty helpful.  I could imagine a few ways to use `memoise()` or `mustashe()` it in the context of evalcast.

Second, let me express my enthusiasm f

[2020-10-22 19:39] dajmcdon commented on #107
We're also looking at a package called `archivist`: http://pbiecek.github.io/archivist/.

[2020-10-22 19:54] jacobbien commented on #107
Ok, so one proposal is to `memoise` the function `evalcast::download_signals` (and use `memoise::cache_filesystem` so this will work across R sessions).  @dajmcdon - I haven't looked into `archivist`, but it sounds like that's another option.

@ryantibs - reading about `memoise` [here](https://github.com/r-lib/memoise), it seems that by default (if one doesn't set `memoise::cache_filesystem`), the

[2020-10-22 20:14] benjaminysmith commented on #107
Without knowing any of the details here, I recommend doing the simplest version first and then iterating if necessary ;)

If you cache to disk, do we need to worry about not getting refreshed data? (e.g., if it is updated in between R sessions)

It sounds like it might be simplest to cache in memory to start -- and would guess that will have immediate impact for exploratory development.

[2020-10-22 20:18] dajmcdon commented on #107
Comparing both, my instinct is that `memoise` is easiest, and, maybe conveniently, closest to a good long term solution. Short run, we can cache to memory, and maybe move to adding a prompt or message on loading down the line.

[2020-10-22 20:24] capnrefsmmat opened #142 "Enable CI for our R packages"
We should extend the CI workflows (in `.github/workflows/`) to build and test our R packages. This should be pretty straightforward (just do `R CMD BUILD` and also `CHECK`), except for the covidcast package we probably want to disable the vignettes, since they are quite slow.

This will be particularly useful after #124, since the CI can run our tests and tell us if PRs fail the tests, but it'd al

[2020-10-22 20:34] capnrefsmmat commented on #141
I propose the following code ownership setup:

* `R-packages/covidcast/`: @capnrefsmmat, @ryantibs, + 1 new maintainer (will @JedGrabman be handling the R package long-term?)
* `R-packages/evalcast/`: @jacobbien plus -- who else will be maintainer here?
* `Python-packages/covidcast-py/`: @capnrefsmmat, @chinandrew (+ @krivard if she wants)
* `R-notebooks/`: @ryantibs?

Suggestions for improvements

[2020-10-22 20:34] benjaminysmith commented on #107
Sounds convincing to me! @jacobbien what do you think?

[2020-10-22 20:39] jacobbien commented on #107
Yes, `memoise` option to memory sounds simplest for now.  And we can re-evaluate whether @ryantibs's add-on (described above) is still a high priority after we get `memoise` cache to memory implemented.  (@ryantibs, sound good?)  Also, @ryantibs's suggestion could be moved to a separate issue.

[2020-10-22 20:57] tildechris commented on #107
Is there HTTP-level support for caching on the API side?  Just looking through postman it doesn't look like either `Last-Modified` or `If-Modified-Since` are supported.

Adding such functionality would make it straight-forward to manage a local cache.

[2020-10-22 21:03] capnrefsmmat commented on #107
There is not; we added compression at some point, and were going to add `Cache-Control`, but that failed because of some Apache config issues.

See https://github.com/cmu-delphi/delphi-epidata/pull/171, https://github.com/cmu-delphi/delphi-epidata/pull/191

But the API could also emit the headers directly, without Apache's help. I don't imagine many clients would be using those headers, though.

[2020-10-22 21:24] #139 closed

[2020-10-22 21:32] krivard commented on #141
Do we want to keep the dashboards in this repository, or move them to `data-integrity`? cc @benjaminysmith

[2020-10-22 21:41] dajmcdon commented on #112
I think this interacts with #107 . Ideally there, we want to memoise the `download_signals()` call. That will cache the api data. Then for corrections, we make them immediately after based on the flags in `get_predictions()` and `evaluate_predictions()`. We memoise those too (so they can be retrieved later if desired, say with another function).

As for the as_of, I'm not quite sure how to impose

[2020-10-22 22:11] ryantibs commented on #129
@jacobbien I spotted this in my review of evalcast, and fixed it my 2nd commit on the evalcast-update branch that will be forthcoming!

[2020-10-22 23:13] bnaras opened #144 "Problem when using import dependency on covidcast"
The variable `state_census` is not available to `covidcast::name_to_abbr()` when the package is imported rather than attached via `library()` (reprex below). The fix is to use `R/sysdata.rda` for internal use. But it appears these datasets are exported? If they have to be so, perhaps some convenience functions for access?

[code]

[2020-10-22 23:36] jacobbien commented on #112
Hi @dajmcdon.  Yes this sounds good to me.  I agree with what you said about the corrections process (as you're doing it) not violating the as of principle.  If a user is determined to break the as of guardrails, it can certainly be done in many ways... but my main concern is that the basic user using the basic functionality and options will not be led to violate this principle.

[2020-10-22 23:53] capnrefsmmat commented on #144
Yes, `state_census` (and `county_census` and similar) is exported, since we imagine covidcast users may want the data in convenient form for other analyses.

Is it possible to use something like [this trick](https://stackoverflow.com/a/16355495) to ensure the data gets into the package's namespace, so its functions can use it, while still exporting it? It seems quite odd that R doesn't have a mech

[2020-10-23 01:01] dshemetov commented on #131
@ryantibs Re: handling missingness, when anticipating that issue in the smoother util, I settled on imputation using polynomial fits on the past data. The training data window on the boundaries was shrunk to accommodate smaller amounts of data. It seemed to work fine on the signals I tested. What do you think of such an approach?

[2020-10-23 01:12] bnaras commented on #144
Yes, that trick will work for now as it is only sticking data objects in the package namespace although I rarely see it in packages. (I generally don't like to muck around with parent environments etc. in `.onLoad`.) The alternative would be to have functions for each exported data set, which is not ideal. So the trick is ok, I'd say, with some comments thrown in case problems arise in the future.

[2020-10-23 02:27] ryantibs commented on #144
@capnrefsmmat @bnaras Am I missing something ... isn't this fixed by just referring to the data objects within the covidcast package code itself as in `covidcast::state_census`, etc.?

Or will this create some kind of weird recursion issue?

[2020-10-23 02:39] ryantibs commented on #131
@dshemetov Sure seems generally reasonable to me, but of course the details matter.  Whoever end up working on this derivative issue (if not you), you should share notes with them.

You made me realize that I should note that derivative estimation as being discussed here is operating at a different level than smoothing: it's operating on signals that are coming out of the API (possibly even smooth

[2020-10-23 02:52] ryantibs commented on #107
@jacobbien @dajmcdon: Sgtm.  Thanks all for the helpful replies!

[2020-10-23 03:34] ryantibs commented on #106
@bnaras @brookslogan I happen to have implemented this on a branch (since I needed it for another purpose) ... hopefully you guys haven't sunk time into this.  I will submit my branch as a PR probably tonight or tomorrow.

[2020-10-23 06:45] dshemetov commented on #131
@ryantibs noted. Hopefully the worst smoothing will do is have an attenuating effect on the derivative.

How do you envision turning derivatives into direction calls? What other downstream uses do you anticipate of this method?

[2020-10-23 07:04] chinandrew commented on #131
Previous direction implementation was: `-1 for decreasing, 1 for increasing, and 0 for neither`, and github archaeology reveals this https://github.com/cmu-delphi/delphi-epidata/blob/06e3851adaca1ad3746ac36c76e4ee2bf42acf42/src/acquisition/covidcast/direction.py, though someone else can confirm if this is the most recent

[2020-10-23 14:10] JedGrabman commented on #11
Happy to help out on this one.

And the acronyms, since I wasn't familiar:
HRR = Hospital Referral Region
MSA = Metropolitan Statistical Areas

[2020-10-23 14:14] JedGrabman commented on #33
You can go ahead and assign it to me, I'll take a look once I finish some of my current tasks.

[2020-10-23 16:00] bnaras commented on #144
@ryantibs @capnrefsmmat I like your solution: simple and not much work. Apparently it is also CRAN approved. https://coolbutuseless.github.io/2018/12/10/r-packages-internal-and-external-data/

[2020-10-23 17:14] ryantibs commented on #119
@jacobbien In my pass over evalcast's plotting functionality, I just implemented this one.  PR coming soon.

[2020-10-23 18:54] jacobbien commented on #119
Great!

[2020-10-23 18:55] #114 closed

[2020-10-23 20:39] benjaminysmith commented on #141
I think we should leave the dashboards here for now since they also serve as public demonstrations of the API.

[2020-10-23 22:55] bnaras commented on #144
@ryantibs @capnrefsmmat I'll make a PR in the next 10 min to fix this.

[2020-10-24 01:50] ryantibs commented on #144
Closed by #148.

[2020-10-24 01:50] #144 closed

[2020-10-24 21:13] ryantibs commented on #134
@benjaminysmith Can you produce example code?
@JedGrabman maybe you want to take a quick look?

[2020-10-24 21:33] ryantibs commented on #10
@capnrefsmmat I'm going to dust off this one and revisit it now. Here's my plan:

- Same argument structure as `covidcast_signal()`, and allow recycling for the first 4 arguments (`data_source`, `signal`, `start_day`, `end_day`).  For the rest, allow just one value.
- Don't allow multiple `geo_type`s (since you can only specify one value for that argument, as per my last comment).  Seems cleanest

[2020-10-24 21:49] capnrefsmmat commented on #10
I think this design makes sense, although the devil is in the details. (For example, what's the most natural way to specify lags for `aggregate_signals`?) Having convenient ways to produce wide data frames with lags  would be very useful for quick data analyses, though.

[2020-10-24 22:09] ryantibs commented on #10
😈 🔢

[2020-10-24 22:13] chinandrew commented on #10
- Just to clarify, if I specify `source=c('a','b')` and `signal=c('x','y')`, is the anticipated result an `a-x` df and a `b-y` df? (as opposed to their cartesian product `a-x`,`a-y`, `b-x`, and `b-y`.) Source/signal combinations probably make less sense since signals are often unique to sources, but you could run the same question with start days...though that also doesn't make a lot of sense sinc

[2020-10-25 21:26] ryantibs commented on #10
Hi @capnrefsmmat @chinandrew, I just pushed a branch "modeltools" that contains nearly all of the aggregation functionality implemented.  It's not 100% polished, but I need to move onto something else, so I figured I would at least ping you two so that if either of you have the cycles to look in the next couple days, you could go ahead and leave feedback while I'm iterating elsewhere.

I didn't su

[2020-10-26 00:24] bnaras opened #150 "evalcast, caching, s3 method"
jacobbien dajmcdon It seems to me that caching should always be available for the user to control. So any function we provide that can cache should take a boolean flag as argument (maybe default TRUE) along with a `cache_path`, which, if null, reverts to memory cache. This is because if such a function is being run in a production system at a time that straddles the instant when new covidcast data

[2020-10-26 04:33] dajmcdon commented on #150
I don't have a problem with forcing caching to be under user control, but it is a much more "quiet" fix to do it this way. It does lose flexibility though. The cache would be more readable if we did it differently. I think there are multiple ways to do this depending on how much control do we want to give the user. We could turn it off by default and give a message at load with a line of code to r

[2020-10-26 04:49] dajmcdon commented on #150
As for the S3 methods, I agree. Especially with the prediction cards. And I'm finding some issues with score cards too. For prediction cards, better might be a way to collect arbitrary numbers of cards (multiple aheads, forecasters, as_ofs, forecast_dates) and just write them to a long dataframe (without the embedded tibbles). I think there are lots of plots the user _might_ want to make, and if w

[2020-10-26 04:51] dajmcdon commented on #150
Oh, and while I'm still thinking about caching, I think we probably want to cache the covidhub predictions too. Or add them to our API? Downloading a bunch of csv's and then filtering can get slow.

[2020-10-26 07:38] jacobbien commented on #129
Fixed in #146.

[2020-10-26 07:39] #129 closed

[2020-10-26 07:39] jacobbien commented on #119
Implemented in #146.

[2020-10-26 07:39] #119 closed

[2020-10-26 07:40] jacobbien commented on #106
Implemented in #146.

[2020-10-26 07:40] #106 closed

[2020-10-26 08:07] jacobbien commented on #98
Hi @bnaras!  I'm responding to the part of what you wrote in #150 that has to do with the S3 methods.  In my opinion, the main impetus for this would be the print method.  In particular, I find myself printing a list of predictions cards (which currently prints a list of tibbles) and then I want to know what the forecaster, ahead, and geo_type of these are.

For example, consider the following cod

[2020-10-26 08:15] jacobbien commented on #98
I'm responding to the S3 aspect of this discussion in issue #98 just to keep things organized.

[2020-10-26 08:17] jacobbien commented on #150
I'm responding to the S3 aspect of this discussion in issue #98 just to keep things organized.

[2020-10-26 08:20] jacobbien commented on #150
@dajmcdon - regarding your last bit about the covidhub predictions, if we integrate with the zoltr package as discussed in #99 then having them in our API does not seem necessary.  Right?

[2020-10-26 08:32] jacobbien commented on #98
My understanding of what @dajmcdon suggests (and perhaps this is what @bnaras is suggesting as well?) is that it would be easier to work with one very long tibble rather than a list of tibbles that have attributes.  I'm open to this suggestion and had considered it a while ago.  I think one motivation for the separate tibbles with attributes is that I wanted to have all the metadata that would be

[2020-10-26 14:01] ryantibs commented on #98
@jacobbien @dajmcdon @bnaras Just wanted to chime in here, RE one big tibble versus list of tibbles.

We have the same issue in the covidcast package with signals.  The return object of `covidcast_signal()` is a `covidcast_signal` data frame.  On a branch modeltools, I'm nearly done with `covidcast_signals()` which allows you to fetch multiple signals as once.  Decided to make the return object a

[2020-10-26 14:53] benjaminysmith commented on #134
Example:

[code]

Fails with:

`Error: Breaks and labels are different lengths`

Adding `range=c(0,10)` to plot command is workaround.

[2020-10-26 17:45] dajmcdon commented on #98
I think to @jacobbien 's point: there are lots of reasons to keep the cards as is (as are) for the sake of reproducibility. It also seems like (my personal experience) there are too many variables (aheads, forecasters, forecast_date, geo_values) to allow for anticipating the end user's goals re plotting/printing etc. So, on the prediction cards, I vote to make the "classes" help us aggregate when

[2020-10-26 18:44] JedGrabman opened #153 "Use consistent data types for dates in evalcast"
Evalcast is inconsistent with its use of dates. In particular, get_forecast_dates returns character objects, but filter_predictions expects date objects and fails silently for character objects.

Underlying cause for this particular issue seems to be odd behavior by dates.
`date("2020-07-20") == "2020-07-20"` is TRUE

`date("2020-07-20") %in% "2020-07-20"` is FALSE

Probably safest just to require

[2020-10-26 18:51] chinandrew commented on #10
Took at look at the commit and the vignettes. I agree that the `append_shift` being wide and `aggregate_signals` being wide or long is a bit weird.

My take would be to remove the overlap between the responsibilities of the functions. Right now, both do some form of aggregation/appending (e.g. I can get a wide, lagged df on a signal by running either `append_shift` or by using `aggregate_signals`

[2020-10-26 19:06] jacobbien commented on #153
Thanks @JedGrabman good point!

[2020-10-26 20:52] krivard commented on #131
Additional details: git issue [Revise definition of "historical variability" in direction/trend calculations](https://github.com/cmu-delphi/covidcast-indicators/issues/224)

[2020-10-26 21:17] JedGrabman opened #154 "covidcast cannot handle multiple as_of dates"
`covidcast_signal` only accepts one `as_of` date at a time. This creates problems for evalcast. `evalcast::get_predictions` is very inefficient when searching for multiple values in forecast_date. Data gets returned from each date until the forecast_date. For example, if we set `forecast_date = c("2020-08-31", "2020-09-01") `, then we will return data from June 15 to August 31 and again June 15 to

[2020-10-27 17:23] ryantibs commented on #10
Thanks @chinandrew, really helpful feedback!  I just revamped a bit and committed pushed to my branch.  Take a look.  The long form commit gives a detailed account of what I did.  Pasted here for convenience

[code]

So it's consistent with your feedback, except I allow more flexibility in how the user specifies shifts.  Suppose I want to add 28 lags to `a` and append this to `b`.  Technically you

[2020-10-27 20:41] JedGrabman commented on #124
A few comments:
* Mocks are not my area of expertise, but in my experience some of the major benefits are that they are consistent, fast and don't need to call into external services. However, I find that there can be a fairly significant cost to using mocks, since you need to ensure:
  * they stay up to date with how the dependencies actually function and
  * that they don't hide errors in low le

[2020-10-27 21:13] JedGrabman commented on #134
[code]

Issue looks like it probably starts [here](https://github.com/cmu-delphi/covidcast/blob/5ca16a9e111b82f23c399549a8e7d5f4c910bcfd/R-packages/covidcast/R/covidcast.R#L414)

`stdev_value <- sd(x$value)`
...
`range <- c(mean_value - 3 * stdev_value, mean_value + 3 * stdev_value)`

If we just check if stdev is 0 or set it to atleast some small positive value, it should take care of it.

[2020-10-27 22:44] ajgreen93 commented on #101
@jacobbien @dajmcdon @jsharpna See link [here](https://github.com/cmu-delphi/covidcast/blob/evalcast-trajectory_plots/R-packages/evalcast/R/plot_trajectory.R) for a first pass at a `plot_trajectory` function.

- Follows the conventions @jacobbien called for, except shows actual values summed to epiweeks, instead of 7 day trailing sum.
- Currently functional for `incidence_period` equal to `day` or

[2020-10-28 00:35] chinandrew commented on #10
That interface looks pretty good to me.

On the last two issues I'm in agreement with you that single geo_types and no plotting suffices for now.

[2020-10-28 02:11] ryantibs commented on #10
Ok thanks!  I just pushed committed.  After evalcast gets merged into main, I can submit this branch for a PR to main (because I branched off of evalcast.

@capnrefsmmat @chinandrew Actually, question on general git practice: I have a bunch of stuff I'm still doing on this branch, unrelated to this `covidcast_signals()` business.  (It's uncommitted.)  I wanted to keep working on this branch for si

[2020-10-28 03:07] chinandrew commented on #10
If the other work is uncommitted, why not make a new branch? If it depends on evalcast stuff you can branch off of that instead of main.

[2020-10-28 04:03] ryantibs commented on #10
It's a dependencies issue: the other stuff I'm working on depends on `covidcast_signals()` and `aggregate_signals()` etc.  And I don't want to stop working on it and only resume once that's been merged into main.

This is the same reason I branched my current branch (modeltools) off of the evalcast branch: the other stuff I'm working on depends on the evalcast packgage and I didn't want to wait un

[2020-10-28 04:53] chinandrew commented on #10
Got it. In that case, I'd probably create a new branch off of the modeltools branch and work off that.

In my experience it's not super common to have a feature branched from a feature branched from a feature branch, and more common to just have a bunch of features branched off of your main or develop branch (depending on your git paradigm) and frequent PRs, incremental changes, and fast reviews t

[2020-10-28 14:11] benjaminysmith commented on #32
Ideas from @sangwon-hyun as extension to basic coverage:

- In the coverage graph, it might be helpful to visualize more than a snapshot e.g. which counties we used to have data in, but no longer do.

It could be helpful to put a basic anomaly detection on these two graphs:
- Whether the most recent 30 days are trending down, according to a best fit line's slope.
- Whether there is an abrupt drop

[2020-10-28 16:32] ryantibs commented on #10
Thanks for the tips.  I *think* I managed to copy the modeltools branch and name it multi-signals, and submitted that for a PR.    Will continue work on modeltools now.

[2020-10-28 18:26] chinandrew commented on #10
:+1:

Another option, since these functions are independent of the evalcast work, is to create a new branch off main and cherry pick the relevant commits for this issue onto that branch. Then you don't run into the issue where in order to merge in your PR you need to merge evalcast.

[2020-10-28 19:44] dajmcdon commented on #101
Thanks @ajgreen93 . I'm making some modifications at the moment (hopefully I'm the only one).

[2020-10-28 20:04] huisaddison commented on #131
I would be happy to pick this issue up (not sure how to assign myself - when I click on "No one assigned" under assignees, nothing comes up...)

As I mentioned during today's meeting, I'd feel bad if I "stole" this issue from somebody interested in working on it, so @dshemetov definitely don't feel bad if you decide you do want to work on it.  I probably won't start working on this in earnest some

[2020-10-28 22:00] ryantibs commented on #131
Thanks Addison!  I assigned both @huisaddison @dshemetov just in case Dmitry wants to work on it as well.

Just wanted to note that I already "struck direction from the record" on my multi-signals branched, see PR in #156.  (It now appears nowhere in the covidcast package, so that part is already done.)

I may also, very soon, implement the linear regression derivative estimator on my modeltools b

[2020-10-29 12:55] tildechris opened #158 "Create a notebook that studies mask wearing by case velocity"
There have been regional changes in mask wearing:

![mask-wearing-changes](https://user-images.githubusercontent.com/46794497/97576105-1ade6900-19c4-11eb-8b40-0b12fcda7591.png)

Note that the largest increase in mask wearing, is where cases are currently spiking (upper great plains states).  Where mask wearing has gone down, however, there are more modest changes in cases:

![case_velocity_by_mask

[2020-10-29 16:51] jsharpna opened #160 "Minor improvements for evalcast trajectory plots"
- [x] add pagination for when number of locations exceed threshold
- [x] tune the size of trajectory plots
- [ ] tune the font size

(If you have access) you can see what I did for the [QA plots here](https://github.com/cmu-delphi/covidcast-forecast/blob/main/forecaster_predictions/submit_predictions/code/trajectories.R), basically I just used `facet_wrap_paginate`

┆Issue is synchronized with thi

[2020-10-29 16:54] jsharpna commented on #160
want to assign to @yelselmiao

[2020-10-29 20:40] sync-by-unito[bot] opened #161 "test issue"
description here

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972516015361) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 20:40] sync-by-unito[bot] opened #162 "Review survey enrollment flow"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972516015363) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 20:40] sync-by-unito[bot] opened #163 "https://www.figma.com/file/LxpwnMcbgrBdGmIGAiRUMK/Delphi-UX-Review?node-id=1%3A23"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972516015365) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 20:40] sync-by-unito[bot] opened #164 "Annotate feedback in Figma."
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972516015367) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 20:41] #161 closed

[2020-10-29 20:41] sync-by-unito[bot] opened #165 "Persona deck with Jenny's template v1"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972516015369) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 20:41] sync-by-unito[bot] opened #166 "Categorize archetypes"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972516015371) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 20:41] sync-by-unito[bot] opened #167 "List rough user journeys"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972516015373) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 20:41] sync-by-unito[bot] opened #168 "DELPHI Site review"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972516015375) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 20:41] sync-by-unito[bot] opened #169 "Link to reviewed screens in Figma:"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972516015377) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 20:41] sync-by-unito[bot] opened #170 "COVIDcast Site Review"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972516015379) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 20:41] sync-by-unito[bot] opened #171 "Link to Figma annotations"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972516015381) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 20:41] sync-by-unito[bot] opened #172 "Site map of current eco-system"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972516015383) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 20:42] sync-by-unito[bot] opened #173 "v1 site map"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972516015385) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 20:42] sync-by-unito[bot] opened #174 "Site map: Proposed redesign of info arch v1"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972516015387) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 20:42] sync-by-unito[bot] opened #175 "Link to map"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972516015389) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 20:42] sync-by-unito[bot] opened #176 "List options"
* [https://material.io/design](https://material.io/design)
* [https://semantic-ui.com/](https://semantic-ui.com/)
* [https://getbootstrap.com/docs/4.0/components/alerts/](https://getbootstrap.com/docs/4.0/components/alerts/)
* [https://get.foundation/sites.html](https://get.foundation/sites.html)

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/11989725160153

[2020-10-29 20:42] sync-by-unito[bot] opened #177 "Create proposal with Sam, Jenny, Kate and Daniel"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972516015393) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 20:42] sync-by-unito[bot] opened #178 "Create a list of options and write a proposal"
Chris: For a static site it's MAU \* site assets in MB \~= outbound data costs.  Then you can look up cost per TB for different CDNs.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972516015395) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 20:42] sync-by-unito[bot] opened #179 "List top 3 and which is our best option"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972516015397) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 20:42] sync-by-unito[bot] opened #180 "document what other tools are doing"
Link to Jenny's Comparative Analysis: [https://docs.google.com/presentation/d/1Lvg58VeOimKic6p8QcbU58DuhLMMiyPhw-C0VfRNA84/edit?usp=sharing](https://docs.google.com/presentation/d/1Lvg58VeOimKic6p8QcbU58DuhLMMiyPhw-C0VfRNA84/edit?usp=sharing)

COVID-19 Related Resources: [https://askabout.io/covid-19/ask/what-are-some-good-covid-19-related-websites/](https://askabout.io/covid-19/ask/what-are-some-

[2020-10-29 20:43] sync-by-unito[bot] opened #181 "Blueprints v1"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972362564755) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 20:43] sync-by-unito[bot] opened #182 "Map proposed ops"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972362689199) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 20:43] sync-by-unito[bot] opened #183 "Map current ops"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972362761192) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 20:43] sync-by-unito[bot] opened #184 "incorporate: "Center of excellence" in the site redesign,"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972363603450) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 20:44] sync-by-unito[bot] opened #185 "Write an initial proposal document of what we’re going to do and who we need to get approval from"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972363647771) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 20:44] sync-by-unito[bot] opened #186 "Current site map"
[DELPHI - SITE MAP - EXISTING - Delphi UX Review (Figma)](https://www.figma.com/file/IiYu74VmEi4GVS4bnYaTd6/Delphi-UX-Review?node-id=277%3A2074)

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972363868999) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 20:44] sync-by-unito[bot] opened #187 "Current site map"
[DELPHI - SITE MAP - EXISTING - Delphi UX Review (Figma)](https://www.figma.com/file/IiYu74VmEi4GVS4bnYaTd6/Delphi-UX-Review?node-id=277%3A2074)

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972363986976) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 20:44] sync-by-unito[bot] opened #188 "Nav redesign: WF mocks"
[DELPHI_nav-redesign_v1 - Delphi UX Review (Figma)](https://www.figma.com/proto/IiYu74VmEi4GVS4bnYaTd6/Delphi-UX-Review?node-id=278%3A2419&scaling=min-zoom)

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972364109150) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 20:44] sync-by-unito[bot] opened #189 "v1 Wireframe"
Click image to view proto:

[DELPHI_nav-redesign_v1 - Delphi UX Review (Figma)](https://www.figma.com/proto/IiYu74VmEi4GVS4bnYaTd6/Delphi-UX-Review?node-id=278%3A2419&scaling=min-zoom)

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972364138592) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 20:44] sync-by-unito[bot] opened #190 "Competitive Analysis"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972621013886) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 20:44] sync-by-unito[bot] opened #191 "Design improvements"
List of bugs and FR to design and implement

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972621125205) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 20:44] sync-by-unito[bot] opened #192 "Favicon's are not consistent"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972621178693) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 20:45] sync-by-unito[bot] opened #193 "Define data needs"
We need to define the data needs to better understand what tools and signals we can create.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972621257349) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 20:45] sync-by-unito[bot] opened #194 "Define datasets to be used for alerts"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972621307354) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 20:45] sync-by-unito[bot] opened #195 "Design: v1 Alerts and notifications"
As a non-technical decision maker (doctor) in the Allegany county I needs alerts and notifications to help me decide how to direct the hospital.

Roni: There are 100's of other users like this whom could be our target users.

[alerts_flow_v2 - DELPHI: Features (Figma)](https://www.figma.com/file/y9Ez9UC2nE8vhp37VHg7iU/DELPHI-Features?node-id=9%3A2683)

┆Issue is synchronized with this [Asana task]

[2020-10-29 20:45] sync-by-unito[bot] opened #196 "Write user stories"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972621542824) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 20:45] sync-by-unito[bot] opened #197 "Site redesign v1"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972621664794) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 20:45] sync-by-unito[bot] opened #198 "proposal"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972621927032) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 20:45] sync-by-unito[bot] opened #199 "Proposed site map v1"
Site map:

[DELPHI - SITE MAP - V1 (PROPOSED) - Delphi UX Review (Figma)](https://www.figma.com/file/IiYu74VmEi4GVS4bnYaTd6/Delphi-UX-Review?node-id=1%3A71)

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972621976027) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 20:45] sync-by-unito[bot] opened #200 "Current site map"
[DELPHI - SITE MAP - EXISTING - Delphi UX Review (Figma)](https://www.figma.com/file/IiYu74VmEi4GVS4bnYaTd6/Delphi-UX-Review?node-id=277%3A2074)

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972622548253) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 20:45] sync-by-unito[bot] opened #201 "Design About Page"
Feel free to explore a fresh look. About may not be the best name either, feel free to take full creative freedom here.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972622637244) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 20:45] sync-by-unito[bot] opened #202 "Survey results page"
Design a visual representation of the survey results for survey respondents

[Design doc](https://docs.google.com/document/d/1s3zQgr0MlZywy0IdJ0S9Vne9I95J1NVBfSFfTcFLAgQ/edit?ts=5f903669#heading=h.lxt1kpx40d4v)

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972622685900) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 20:45] sync-by-unito[bot] opened #203 "v1 WF"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972622883103) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 20:45] sync-by-unito[bot] opened #204 "User stories"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972622933438) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 20:59] #193 closed

[2020-10-29 20:59] #196 closed

[2020-10-29 21:00] #198 closed

[2020-10-29 21:00] #204 closed

[2020-10-29 21:00] #162 closed

[2020-10-29 21:01] sync-by-unito[bot] opened #206 "Design Blog v1 WFs"
[DELPHI_blog-redesign_v1 - Delphi Site Redesign (Figma)](https://www.figma.com/file/IiYu74VmEi4GVS4bnYaTd6/Delphi-Site-Redesign?node-id=468%3A36)

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972623229096) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 21:01] sync-by-unito[bot] opened #207 "v2 Nav Redesign"
Reflect review feedback

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972623075131) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 21:10] sync-by-unito[bot] opened #208 "ACHD Alerts"
Collaboration with ACHD to improve data pipelines and alerting experience.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972516015402) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 21:10] sync-by-unito[bot] opened #209 "Delphi Site Redesign"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972516015405) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 21:11] sync-by-unito[bot] opened #210 "DELPHI Process"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198972516015406) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 21:16] #169 closed

[2020-10-29 21:16] #170 closed

[2020-10-29 21:16] #171 closed

[2020-10-29 21:16] #172 closed

[2020-10-29 21:16] #173 closed

[2020-10-29 21:16] #174 closed

[2020-10-29 21:16] #175 closed

[2020-10-29 21:17] #181 closed

[2020-10-29 21:17] #182 closed

[2020-10-29 21:17] #183 closed

[2020-10-29 21:17] #176 closed

[2020-10-29 21:17] #177 closed

[2020-10-29 21:17] #178 closed

[2020-10-29 21:17] #179 closed

[2020-10-29 21:17] #191 closed

[2020-10-29 21:20] #186 closed

[2020-10-29 21:20] #187 closed

[2020-10-29 21:20] #188 closed

[2020-10-29 21:20] #189 closed

[2020-10-29 21:20] #200 closed

[2020-10-29 21:20] #163 closed

[2020-10-29 21:20] #164 closed

[2020-10-29 21:20] #199 closed

[2020-10-29 21:33] #165 closed

[2020-10-29 21:33] #166 closed

[2020-10-29 21:33] #167 closed

[2020-10-29 21:33] #168 closed

[2020-10-29 21:41] benjaminysmith opened #211 "fb_dashboard fails to generate"
Output from RScript is:

Rendering fb_dashboard ... Problem with `filter()` input `..1`.
✖ object 'value' not found

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1198968030437421/1198973301734245) by [Unito](https://www.unito.io/learn-more)

[2020-10-29 21:41] benjaminysmith commented on #211
(I'll investigate this but looks like I don't have permission to assign to myself)

[2020-10-29 21:42] chinandrew commented on #211
assigned

[2020-10-29 22:01] krivard commented on #211
interesting; looks like the last time my cronjob successfully generated the facebook dash was 4AM on Oct 13.

[2020-10-30 14:01] benjaminysmith commented on #211
Even weirder -- as of this morning I can no longer reproduce the problem.

I suspect this might have been related to the JHU issue -- that signal is used for generating the correlations.

[2020-10-30 16:23] chinandrew opened #214 "Have python support both wide and long signal aggregation"
Parity with the R code currently in #156

[2020-10-30 16:24] chinandrew opened #215 "Add multi signal function to Python packag"
Parity with the R code currently in #156

[2020-10-30 19:20] #142 closed

[2020-10-30 19:22] #47 closed

[2020-10-30 21:00] #109 closed

[2020-10-31 17:24] dajmcdon opened #218 "Cache calls to API and downloads from COVIDforecast hub"
Current behavior:

`download_signals()` and `get_covidhub_predictions()` load data from, respectively, the COVIDcast API and the COVID19forecasthub Github site. These calls are slow.

Desired behavior:

Fine to do these once, but repeated calls should use already downloaded data.

Suggested fix:

Use `{memoise}` to cache both of these calls. We need to address two use cases:
1. It should do this a

[2020-10-31 17:31] dajmcdon commented on #101
See also #160

[2020-10-31 17:35] dajmcdon opened #219 "Allow multiple forecasters to share data"
From @ryantibs (slightly paraphrased):

Most interesting forecast analysis involve comparisons between forecasters. Right now `get_predictions()` and `evaluate_predictions()` each only operate on a single forecaster at a time.

**Quick fix**:
The way it's implemented now, we could easily extend `get_predictions()` or `evaluate_predictions()` so that could take multiple forecasters (would just be a

[2020-10-31 17:37] dajmcdon commented on #219
Original discussion is in #107.

[2020-10-31 17:37] #107 closed

[2020-10-31 17:41] dajmcdon opened #220 "Preprocessing in `baseline_forecaster()`"
From @bnaras

[2020-10-31 17:42] dajmcdon commented on #220
@bnaras Could you describe the behavior that seems duplicative a bit more precisely? I didn't notice it on first pass. Do you think this is more of a "cleanup" or something that needs a fix for first release?

[2020-10-31 17:53] dajmcdon opened #221 "Aggregate cards into a tibble"
Create a function `aggregate_cards()`.

- [x] Should appropriately handle prediction cards or evaluation cards
- [x] Should also accommodate lists of these, for instance the output from `get_predictions()` run twice with different arguments.
- [ ] Ensure that this function is used throughout `evalcast` (eg in `plot_trajectory()`)

See also #98

[2020-10-31 17:58] dajmcdon opened #222 "Print methods for cards"
See @jacobbien 's discussion in #98.

Not clear if we want full S3 classes for pcards and ecards (see #150).

Minimum deliverables required:
- [ ] Both types of cards should have a print method to avoid the problem mentioned in #98

Complete solution:
- [ ] Do we actually give these a class?
- [ ] Perhaps the class only propagates to print and `aggregate_cards()` (#221 )
- [ ] Probably do not want

[2020-10-31 17:58] #98 closed

[2020-10-31 18:21] dajmcdon opened #223 "Appropriate behavior of `get_covidhub_predictions()`"
- [x] Should cache appropriately (#218 )
- [x] Should also grab "point" forecasts (optionally, only these)
- [x] Clean up documentation throughout this file. All three functions should be exported for now.

[2020-10-31 18:35] dajmcdon opened #224 "Fail gracefully"
From @ryantibs:

- [x] Ensure that these sorts of errors/warnings happen only when necessarry.

[2020-10-31 18:40] dajmcdon opened #225 "All imported functions must be prefaced"
Ensure all functions have the package name in front of them. Examples:

`mutate()` -> `dplyr::mutate()`

[2020-10-31 18:41] dajmcdon opened #226 "Ensure all exported functions are documented thoroughly"
Also, need examples.

[2020-10-31 18:42] dajmcdon opened #227 "Hardcoding"
Locate "signals" or other instances of hardcoded values. Either remove or flag for later evaluation

[2020-10-31 18:45] dajmcdon opened #228 "Need pkgdown site"
We can begin now, but we need to setup `pkgdown` to display our vignettes and other documentation. Doesn't entirely depend on completion, but see #226 and #120

[2020-10-31 18:48] dajmcdon opened #229 "Allow corrections in `evaluate_predictions()`"
More challenging than in `get_predictions()`. See discussion in #112 and #145

[2020-10-31 18:53] dajmcdon opened #230 "Allow `trajectory_plots()` to display more quantiles"
For a nice example of the desired behavior, see https://covid19forecasthub.org/talks/zoltar.html#(11)

[2020-10-31 20:55] jacobbien opened #231 "covidcast::covidcast_signal - substantial speed improvement possible"
The function `covidcast_signal` queries the API one day at a time.  I believe this behavior dates back to an original version of this function I wrote (before the package existed) in which I was focused on downloading county-level data.  The API caps the number of values it can return to a number in the 3000s, so for county-level downloads it made sense to break queries by date.

However, when we'

[2020-10-31 20:56] jacobbien commented on #231
Here's another example in which we only want the data for a single location:

[code]

[2020-10-31 21:20] ryantibs commented on #231
Great point.  I hadn't even realized we weren't taking advantage of the fact that you can pass the API a list of dates.

Seems like a good thing for @JedGrabman to look into, if he has cycles.  He has already worked on the complementary angle of allowing multiple geo values angle in #151.

[2020-10-31 21:22] ryantibs commented on #231
Also, we may want to check in with the engineering side, maybe see if @undefx knows, to see if there's going to be built-in support on the API side to support more than 3000 queries (is that called pagination)?

[2020-10-31 21:24] ryantibs commented on #226
I think the documentation is pretty good at this point (since I took a full pass over it in my review), but maybe things are still missing?

Also, just to mention: as long as we have a good vignette (or multiple good vignettes) with plenty of examples, we don't need lots of examples in the package.  We can always refer them, in the documentation, to look at the vignette.  This is the approach we t

[2020-10-31 21:24] ryantibs commented on #224
To be clear, I meant that this should be true overall, across the whole evalcast package, and not just within `evaluate_predictions()`.

[2020-10-31 21:26] ryantibs commented on #223
Tiny comment: we may as well expose `get_covid_hub_forecast_names()` to be a public function.  This would be useful to have.  And, for consistency, I would change `covid_hub` in this name to `covidhub`.  And, I would make that change throughout (several argument names appear to have `covid_hub` in them, rather than `covidhub`, which you can catch with `grep "covid_hub" evalcast/R/*.R`.

[2020-10-31 21:35] ryantibs commented on #225
Tiny comment: if we do this then we don't need to include these functions in the NAMESPACE which is the main advantage to doing it this way.  So if we use `dplyr::mutate()`, then we never need to specify `@importFrom dplyr mutate`, in the roxygen documentation (which when built, puts it in the NAMESPACE file).

[2020-10-31 21:41] capnrefsmmat commented on #231
Pagination has been requested before, but I don't think it's on the near-term engineering roadmap: https://github.com/cmu-delphi/delphi-epidata/issues/51

I considered having the package try to be smarter about batching queries for geo_types other than county, but initially decided against it on the grounds that it's excess complication (the package would need to know how many HRRs, MSAs, DMAs, an

[2020-11-01 18:03] #10 closed

[2020-11-02 14:49] JedGrabman commented on #134
Adding to myself for now so it doesn't fall through the cracks, but treating as low-priority

[2020-11-02 15:12] JedGrabman commented on #231
I'm working on checking for known geo_values in the validator, so I can reuse some of the data generated there. It sounds like for the moment, we will assume that we can handle up to 3000 rows per request. I think it won't be too bad to handle the different types (HRRs, etc). As long as we can come up with reasonable upper bounds for those values (which I think we can since it seems like we have t

[2020-11-02 17:10] ryantibs commented on #231
Thanks Jed.  Appreciate it!  If you want help prioritizing (or re-prioritizing) happy to go over what you're working on in my OHs.

[2020-11-02 17:18] #137 closed

[2020-11-02 20:24] ryantibs commented on #99
@jacobbien @dajmcdon @bnaras @JedGrabman Just want to draw attention to the covidHubUtils package which Nick's group is working on.  We may be able to use this package directly for this, and just important the relevant functions directly into evalcast (which would save us re-implementing stuff).

See this issue I just posted on their GitHub: https://github.com/reichlab/covidHubUtils/issues/20

[2020-11-02 21:30] kateharwood commented on #230
Is this one of the issues you were hoping to prioritize?

Which slide in particular on the zoltar deck shows the example? (Slightly confused on what exactly this issue is)

[2020-11-02 21:33] dajmcdon commented on #230
For the moment, I was leaving this as "lower priority" since it isn't key to either our pipeline or anything anyone is working on (that I know of). I was thinking Slide 11. I'll fix the link above.

[2020-11-03 00:23] capnrefsmmat opened #239 "Add additional tests to covidcast"
#217 adds a starter set, but we need more. These can be added piecemeal over many PRs, so they're good starter tasks for anyone who'd like to try working on the R package.

- [ ] Bubble plots. Particularly the behavior when counties have missing data, have data present but have 0 counts, or have nonzero data. They should be tested for both county and state levels, and also when there are megacount

[2020-11-03 02:22] bnaras commented on #225
Right, and this is true because it is highly likely that some other function in `evalcast` or `covidcast` would have had  `@importFrom dplyr mutate` in the roxygen comments; just one import somewhere in the package functions is enough. But no import anywhere at all in the package for `dplyr::mutate` would be insufficient.

[2020-11-03 02:28] bnaras commented on #224
I agree that `assert_that()` should catch errors, not warnings or situations where an `NA` return would make sense.

[2020-11-03 15:21] #121 closed

[2020-11-03 18:23] dajmcdon commented on #120
Closed by #155

[2020-11-03 18:23] #120 closed

[2020-11-03 18:25] dajmcdon commented on #218
closed by #241

[2020-11-03 18:25] #218 closed

[2020-11-03 20:13] ryantibs commented on #239
Looks good to me, thank you Alex.  Atm I can't think of much else to add.  But will leave comments here as I keep working on development to see if new things come to mind.

Nb @jacobbien @bnaras @dajmcdon on the evalcast side: you can also look at #217 to what Alex already did and how he set it up through testthat.

[2020-11-03 21:25] sgsmob commented on #221
I'm reading back through the previous discussions and I am not clear on the input/output types here.

On the input side am I correct that we should expect:
* A list of 2-column data frames with columns:
    * Geo code
    * 23 by 2 tibble with columns:
        * Quantile
        * Predicted value (prediction cards) or error (evalutait
?

On the output side, should there be a single data frame in t

[2020-11-03 22:40] dajmcdon commented on #221
Something a bit different. Basically the geo code should be repeated for every one of the 23 quantile/value pairs. One also needs the many of the attributes of the card. If you look from [here](https://github.com/cmu-delphi/covidcast/blob/9c5848152b966fb97cff666059ee8574e07b16e9/R-packages/evalcast/R/plot_trajectory.R#L34) until about line 48, that should be most of it. It may also help to see the

[2020-11-04 02:53] huisaddison opened #245 "Empty messages emitted by covidcast_signal() when queries fail to return data"
See @capnrefsmmat 's comment below: happens more generally when queries fail to return data.

Case 1: `as_of < start_day` covidcast_signal() does (properly) return an empty dataframe.  However, it first emits a series of newlines; it could instead automatically catch this edge case, immediately return (and also not emit a bunch of newlines).

To reproduce:

[code]

Case 2: `as_of = '2020-10-01'` -

[2020-11-04 03:07] capnrefsmmat commented on #245
The newlines appear in other cases where queries fail to return data, but I don't know what is emitting them. Any idea what part of the code might be responsible?

[2020-11-04 03:10] huisaddison commented on #245
Haven't dug into the source code, just wanted to document it in case others just didn't know / so I can look into it later.  It's more of an aesthetic annoyance than a critical bug, so if it doesn't get tackled by an eng team member by the time I finish the DAP(s) I'm assigned, I could look into it

[2020-11-04 03:34] huisaddison commented on #245
Found the bug...  happens inside message(sprintf(...)).  When message(sprintf(...)) encounters a NULL, it emits a newline without any warnings or errors.  Go figure.

[code]

My guess is that when data isn't available, at least one of `dat[[i]]${result, message, epidata}` is NULL.

https://github.com/cmu-delphi/covidcast/blob/main/R-packages/covidcast/R/covidcast.R#L497-L501

[2020-11-04 03:36] huisaddison commented on #245
@capnrefsmmat I'm not rapid enough at R package development (develop-test-debug within the package environment to do this quickly otherwise I'd issue a PR.... but it seems simple enough to move the linked code block to be inside the `if success` block (if that's what we want to do.  Otherwise a suitable code block to catch the NULLs before they go into sprintf... Again if we don't have the resourc

[2020-11-04 03:49] capnrefsmmat commented on #245
Ah, weird. I bet moving it inside the `if` will solve it, since `$epidata` will indeed be null in the error case. @benjaminysmith or @JedGrabman, do one of you want to take this as a low-priority bugfix?

[2020-11-04 06:36] dajmcdon commented on #160
Closed with #213 and #247

[2020-11-04 06:36] #160 closed

[2020-11-04 14:46] JedGrabman commented on #102
pkgdown bug was closed and [pointed us back to using repo](https://github.com/r-lib/pkgdown/issues/1420#issuecomment-721381153).

[2020-11-04 15:12] benjaminysmith commented on #245
Yeah I can give it a shot.

[2020-11-04 19:12] #228 closed

[2020-11-04 19:14] #226 closed

[2020-11-04 19:28] gtzwang opened #251 "msg` has been renamed to `message`"
Hi, I just installed covidcast package. Getting this error. Any idea what that means? Thanks!

Fetched day 2020-05-01: 1, success, num_entries = 1052

Error: `msg` has been renamed to `message` and is deprecated as of rlang 0.3.0

[2020-11-04 19:42] sgsmob commented on #221
So the output is a single tibble with columns:

- Geo code
- Forecaster name
- Number of weeks ahead
- Quantile
- Predicted value or error

and there is a 1:1 correspondence between each row in the output and a row in one of the cards in the list?

[2020-11-04 20:15] sgsmob commented on #227
I don't really understand what this means.  What values are we concerned about being hardcoded?   A quick grep through evalcast for `signals` doesn't identify anything I would consider "hardcoding".

[2020-11-04 20:26] dajmcdon commented on #221
that's right. Produce 1 tibble. But you will also, need some other things. If you look at line 162 of `get_predictions.R`, all the attributes are listed there. I don't think we need `forecaster` or `corrections_applied` since they are functions. Probably not `forecaster_params` either (maybe make that an option to the function). On the `score_cards` you need much of the same plus some of the other

[2020-11-04 20:29] dajmcdon commented on #227
I know that there's a vector of probabilities explicitly spelled out somewhere. Any references to "jhu-csse" or the like should go (that's what I meant by "signals"). Actually, I need to make a pass through everything to try to make it all readable. So I'll do this at the same time. I'm going to unassign both of you.

[2020-11-04 22:07] capnrefsmmat commented on #251
Ah -- it looks like this is a consequence of #151 and a change in `rlang`.

Specifically, this warning: https://github.com/cmu-delphi/covidcast/blob/9bf67daf59926879289eaff22b585023597e2eba/R-packages/covidcast/R/covidcast.R#L502-L516

When `geo_values = "*"`, the default, this incorrectly issues a warning, because `"*"` just means "all available". And since we include an argument named `msg`, `rl

[2020-11-05 16:42] ryantibs commented on #99
@jacobbien @dajmcdon @bnaras Just an update that Nick implemented the ability for anybody to use covidHubUtils pkg to get forecasts from Zoltar (without needing an account), based on my request in reichlab/covidHubUtils#20.  So we should be good to go in plugging this into evalcast (redefining `get_covidhub_predictions()` to just use the relevant covidHubUtils functions).

[2020-11-05 18:55] JedGrabman commented on #251
Fix seems simple enough, opened a PR.
As a side note from testing, we seem to allow searches for vectors with "*" in them, which searches for the literal (i.e. You can set `geo_values = c("AK", "*")` which only returns results for Alaska). I matched the behavior with the warning (e.g. `Data not fetched for some geographies on 2020-05-01: * `) and I think the behavior is reasonable for covidcast_si

[2020-11-05 19:12] #245 closed

[2020-11-06 13:23] gtzwang opened #253 "Error: 'relocate' is not an exported object from 'namespace:dplyr'"
Hi, thanks for fixing the msg issue. The basic test is still not working though. Getting this error:
**Error: 'relocate' is not an exported object from 'namespace:dplyr'**.

+                                        start_day = "2020-05-01", end_day = "2020-05-07",
+                                        geo_type = "county")
Fetched day 2020-05-01: 1, success, num_entries = 1052
Fetched day 2020-0

[2020-11-06 13:41] capnrefsmmat commented on #253
relocate was [added in dplyr 1.0.0](https://www.tidyverse.org/blog/2020/06/dplyr-1-0-0/#new-features); you may want to do `install.packages("dplyr")` to get the latest version.

[2020-11-06 13:42] gtzwang commented on #253
Confirmed. works now. Thanks.

[2020-11-06 13:42] #253 closed

[2020-11-06 19:42] dshemetov opened #255 "Cast "time_value" column to datetime format before returning dataframe"
Currently, we have to do this
[code]
If you don't cast to datetime, you can't plot in matplotlib with the `time_value` as the index.
[code]
Should require just a one line change in the Python client. That `pd.to_datetime` function is idempotent, so it shouldn't break anyone's code that is already doing that manually.

[2020-11-06 21:05] capnrefsmmat commented on #255
@sarah-colq I hear you're interested in working more on the client packages; want to take this one?

[2020-11-06 21:19] capnrefsmmat commented on #251
Closing this as fixed by #252.

[2020-11-06 21:19] #251 closed

[2020-11-09 15:15] #211 closed

[2020-11-09 18:50] krivard opened #257 "All dashboards currently failing"
Dashboard renders have been failing since November 5:
[code]

Alex noticed during a routine check of the output. I didn't notice, because these particular failures print messages but do not set the exit status accordingly:

[code]

## Desired behaviors:

* Dashboards should render html
* If dashboards are unable to render html, `make.R` should exit with a failure code (status != 0).

[2020-11-09 18:52] krivard commented on #257
...this turns out to have been a breaking change to the covidcast client. Still should fail `make.R` though.

[2020-11-09 19:04] benjaminysmith commented on #257
Confirming that an update to the R client should fix this.

I'll use this to track making the Rscript failure bubble up.

[2020-11-09 20:59] brookslogan opened #258 "Add or correctly fetch JHU-CSSE data for remaining U.S. jurisdictions in covidcast"
The covidcast package (and perhaps the API?) does not recognize AS, GU, MP, or VI, but these jurisdictions (as well as the Diamond Princess) are reported in the [JHU data](https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_daily_reports_us/11-08-2020.csv).

[code]

The abbreviation to FIPS translation appears to be failing.  It might also be the case that the d

[2020-11-09 21:07] kateharwood commented on #99
@ryantibs @dajmcdon what is the rough priority of this now?

[2020-11-09 21:15] dajmcdon commented on #99
I would say "toward the higher priority" end of the spectrum. I'll have a better idea when @JedGrabman recreates Ryan's notebook with the memoization.

[2020-11-10 15:11] ryantibs opened #260 "Allow `issues = "*"` to get all issues of a single data point"
Currently as I understand it, there's not a super convenient way in the `covidcast_signal()` function (in the covidcast package) to specify that I want all issues of a single data point.  To get all issues of the JHU deaths in PA on Sept 1, I could use, for example:

[code]

It would be convenient if I could set `issues = "*"` to return the same thing.  Similar for Python.

Tagging @sarah-colq @ch

[2020-11-10 15:30] capnrefsmmat commented on #260
The Epidata API actually doesn't support fetching all issues, so this will have to be supported on the server side before clients can add it. cc @krivard to add this to the Epidata wishlist

[2020-11-10 15:34] ryantibs commented on #260
Why couldn't this just be interpreted within the `covidcast_signal()` function as `issues = c(start_day, Sys.Date())`?

When the Epidata API itself allows for `issues = "*"`, we can use that instead.

[2020-11-10 16:26] JedGrabman commented on #231
Developing over at [JedGrabman/covidcast:dev-covidcast-efficiency](https://github.com/JedGrabman/covidcast/tree/dev-covidcast-efficiency). Need to do some cleanup and add tests, but results are promising

[code]
3.7x -> 1.2x

[code]
100x -> 3x

Example updated messages (from runs with different inputs):
`Fetched day 2020-04-01 to 2020-10-01: 1, success, num_entries = 184`
`Data not fetched for som

[2020-11-10 17:48] dfarrow0 opened #262 "error when calling `get_predictions` with multiple `geo_values`"
From current main branch, running the following fails:

[code]

Error:

[code]

Using `c("TX", "PA")` instead of `list("TX", "PA")` results in the same error. From the docs, `geo_values` should be a "Vector or list of locations".

Running with no `geo_values` works (it defaults to all locations), and running with just a single location (e.g. `geo_values = "TX") also works.

[2020-11-10 17:56] jacobbien commented on #262
I believe this was fixed in #232 but this PR just hasn't been merged yet.

[2020-11-10 17:59] dajmcdon commented on #262
I went ahead and merged #232. Not sure why it was still sitting there. @dfarrow0, try reinstalling and see if it's fixed.

[2020-11-10 18:02] jacobbien commented on #262
Just to note that that merge was into the evalcast branch (not main).

[2020-11-10 18:07] dfarrow0 commented on #262
Thanks, unfortunately I ran into a problem installing the covidcast R package from the evalcast branch:

[code]

[code]

[2020-11-10 18:13] dfarrow0 commented on #262
Ah, the error above is fixed in https://github.com/cmu-delphi/covidcast/pull/254 from @sgsmob which isn't merged yet

[2020-11-10 18:52] dajmcdon commented on #262
I just merged #254.

[2020-11-10 18:53] dajmcdon commented on #262
@jacobbien good point. We're currently using the `evalcast` branch as the development location before merging onto main.

[2020-11-10 19:10] krivard commented on #258
We probably don't have geocoding information for those regions, so they get filtered out. What's the priority on a fix?

[2020-11-10 20:36] dfarrow0 commented on #262
Thanks all, things are working now when using the `evalcast` branch.

[2020-11-11 16:52] capolitsch opened #268 "`location_to_be_forecast` deprecated in evalcast?"
I'm iterating through errors in my migration of aardvark from evalforecast to evalcast, so I may be opening a number of issues...

evalforecast used to add rows to the `variable_name` column of the upstream df called `location_to_be_forecast` which would then allow us to filter our training data in modeling. It seems the `variable_name` column, as well as the `n_locations` argument, is now depreca

[2020-11-11 18:13] krivard commented on #260
We probably need to use `max(start_day, min_issue)` since we have a bunch of signals whose first issue included data from multiple months beforehand. `min_issue` is not supported yet in metadata. There's a PR for it (cmu-delphi/delphi-epidata#236) but the logic is tricky and we don't want to inadvertently double the running time of the meta cache updates.

[2020-11-11 18:45] capolitsch opened #269 "`covidcast::aggregate_signals` option to retain `issue` column?"
When using the `covidcast::aggregate_signals` function to convert a `covidcast_signal` data frame from long to wide format it would be great if the output retained (or had an option to retain) an `issue` column that specifies the latest issue date of the signal value. This would be convenient for, e.g., internal forecaster filtering w.r.t. a chosen backfill buffer.

[2020-11-11 18:54] capnrefsmmat commented on #269
Yes, I'd like it to retain `issue` and all other columns from the original data, if possible, so one can switch between wide and long formats easily.

[2020-11-11 19:59] tildechris opened #270 "Signals without metadata fail to plot"
[code]
Currently yields an error:

[code]

Because meta-data isn't yet being returned by the API.  Manually setting the range to min/max of the value works around the error:

[code]

As per @capnrefsmmat, we should at least return a better error message in this case.

[2020-11-11 20:01] capnrefsmmat commented on #270
The problem is this block: https://github.com/cmu-delphi/covidcast/blob/f3e3b3c12936c8d65cdebdf18c6478b41c2da5f9/R-packages/covidcast/R/plot.R#L113-L123

Since we now set `attributes(x)$metadata$geo_type` for all data frames returned from `covidcast_signal`, even those without other metadata, the check does not detect the missing mean and stdev. The check should be updated and a unit test added to

[2020-11-11 20:30] tildechris commented on #11
Another vote adding HRR and MSA support.  Was trying to look at HRR for CHC today.

@sarah-colq do you have an ETA on this?

[2020-11-11 23:36] jacobbien commented on #268
You're right this is a difference from how `evalforecast` works.  For evalcast, I didn’t want to include the "locations to be forecast" functionality from `evalforecast` because I think that's too complicated and would scare potential users away.  Instead, an individual forecaster can internally decide which locations to make forecasts on.

Now, you can correct me if I'm wrong, but in the case of

[2020-11-11 23:46] capolitsch commented on #268
Thanks for the clarification! Aardvark did indeed previously use this logic (see above code chunk) but I will go ahead and factor it out.

[2020-11-11 23:46] #268 closed

[2020-11-11 23:47] jacobbien opened #272 "Documentation correction"
https://github.com/cmu-delphi/covidcast/blob/f3e3b3c12936c8d65cdebdf18c6478b41c2da5f9/R-packages/evalcast/R/baseline.R#L8-L9

Instead it should say:

Data frame of the format that is returned by [covidcast::covidcast_signal()] except with `geo_value` renamed as `location` (and a 2-digit FIPS code used when `geo_type = "state"`)

[2020-11-11 23:48] jacobbien commented on #268
Right, well it had to use this logic because of evalforecast, but what I meant to say is that it didn't _need_ this logic to accomplish its goal...

[2020-11-11 23:49] jacobbien commented on #268
Also: Issue #272 will clarify the documentation about the location vs. geo_value question you raise above.  Thanks!

[2020-11-12 14:33] capnrefsmmat opened #273 "Add CITATION file to R client"
R packages can contain a [CITATION file](https://cran.r-project.org/doc/manuals/R-exts.html#CITATION-files) so that users can type `citation("covidcast")` and get a recommended citation, both in plain text and BibTeX formats.

Once we add this, we should make the home page of the pkgdown site list the citation as well.

This will require deciding on what the citation should be.

[2020-11-12 18:12] brookslogan commented on #258
My use case is an analysis I would like to start running in the next couple of days and have ready for a manuscript in a couple of weeks.  I doubt this single use is enough to elevate it to a high priority though (so I am aiming to load this data via another route).  The missing locations are the lowest population jurisdictions for this geo level, so I would expect this to be a lower priority aver

[2020-11-12 18:31] brookslogan commented on #223
I am confused by the output/documentation of this function in other aspects; `evalcast::get_covidhub_predictions("COVIDhub-baseline", as.Date("2020-09-07"))` produces an unnamed list of 20 cards, some with 7-row `forecast_distribution`s, some with 23-row `forecast_distribution`s.  Looking at the csv downloaded, there appear to be only 16 distinct `target`s though, or 12 "inc"-type `target`s; I am

[2020-11-12 18:33] sgsmob commented on #223
Yes I was confused by the dimension mismatch too but assumed it was just something I didn't understand about our code.

[2020-11-12 18:49] dajmcdon commented on #223
It's giving you cases/deaths/states/counties/ahead(1-5) (I think this accounts for the 20). As to why some have 7 instead of 23 quantiles, I'm not sure. The expectation is that we submit for 23, but I don't know why some combinations would result in only a subset of those. Is it filtering out incorrectly from the csv?

The plan is to remove this function and replace with the [covidHubUtils](https:

[2020-11-12 19:52] JedGrabman commented on #219
It seems that the main duplication of effort for `get_predictions` was that each forecaster called [`download_signal`](https://github.com/cmu-delphi/covidcast/blob/9f5d4fd4b6c5771ac28754bb7bf9aee1b23e4881/R-packages/evalcast/R/get_predictions.R#L129).
If we are presuming that all forecasters are interested in the same data (data_source, signal, start_day, end_day, as_of, geo_type & geo_values), th

[2020-11-12 20:36] chinandrew opened #277 "R CI taking 10+ min"
Occurs during dependency install, which should be cached. Need to look into why this is happening if it persists.

[2020-11-12 20:53] sarah-colq commented on #11
I can try to wrap it up this week! It got pushed to the side while I was working with CovidActNow.

[2020-11-13 00:35] jacobbien commented on #223
@brookslogan If you look at COVIDHub's [technical README](https://github.com/reichlab/covid19-forecast-hub/blob/master/data-processed/README.md), they say that for the "N wk ahead inc case" target, 7 quantiles should be specified.  (Actually they say 6, but this is a typo)... in particular, `c(0.025, 0.100, 0.250, 0.500, 0.750, 0.900, 0.975)`.

[2020-11-13 01:27] jacobbien commented on #223
A few follow up comments:

1. If you want to only select for the deaths target, you could use the following:
[code]
This returns just 4 predictions cards.  An alternative is to download all as you've done and then use `evalcast::filter_predictions()` in a subsequent step.

2.  Your issue wondering what these 20 cards represent is precisely the motivation for having a nice print function implemente

[2020-11-13 14:43] tildechris commented on #11
No rush, since this is relatively low-priority.  Feel free to push it out if you have other tasks, just let me know what you land on. :)

[2020-11-13 21:45] huisaddison opened #279 "Parallelize covidcast_signal()?"
I noticed that covidcast_signal() can be slow; but the operation is easily parallelizable using a tool like parallel::mclapply().  (I realized this after I wrapped single-day covidcast_signal() queries in such a parallel operation, and I basically get a nice n_core times speedup).

I quickly sketched PR draft #278 to give an idea for how we could stick this inside the package, and if it is a good

[2020-11-13 22:49] JedGrabman opened #280 "get_covidhub_predictions is very slow"
`get_covidhub_predictions` is very slow currently.

I would describe the format of the function currently as:
1. Retrieve .csv file from covidhub
2. Load .csv file
3. Rearrange data into cards
4. Filter cards

Surprisingly, most of our time is spent on processing the data (step 3) rather than retrieving it. Probably the easiest win is to do the filtering before we create the cards. Processing data

[2020-11-13 23:23] capnrefsmmat commented on #279
So #275 will independently speed up API requests for anything other than county level, by letting us batch requests across days.

Did you test this and find that it actually speeds things up? It seems like it would depend on what the bottleneck is. If you're downloading data as fast as your Internet connection can handle, this won't help. If the server is providing data more slowly than that, mult

[2020-11-13 23:58] jacobbien commented on #280
That's an interesting observation that the slowest part is the processing!  I'm not sure what the performance of `group_modify` is like relative to other functions, but my guess is that it has to do, as you say, with loading all counties even when we just want states.  Note that this all might not be relevant since the intent is for `get_covidhub_predictions` to change once we use the new `covidHu

[2020-11-14 01:37] huisaddison commented on #279
I did see #275 and I think it's a great addition.  Anecdotally I did find a speedup (even on my rinky-dink 4 core laptop).  I can provide some timings, varying n_core, to give some more color as to how useful this could be.

[2020-11-14 18:26] ryantibs commented on #31
@krivard I'm going to close this issue, which was originally about correlations.  I refactored the notebook a long time ago to used `covidcast_cor()`.  We can pick up the convo on dashboards on the other one #32.

As far as I know, the shiny app still doesn't use `covidcast_cor()`, but it's not currently being actively used anyway.  (Is it?).  Just pinging @nloliveira one last time before I close

[2020-11-14 18:26] #31 closed

[2020-11-14 18:42] ryantibs commented on #32
@benjaminysmith Thanks for the continued progress here.  I took a look at https://delphi.midas.cs.cmu.edu/~krivard/covidcast/ and I like the way things are shaping up!

(Nb. on #240, I renamed the dashboard Rmd files in order and change the make.R file just a bit, so that it'll only compile Rmd files with "dashboard" in them.  To exclude other Rmd files in the R-notebooks directory like the covidh

[2020-11-14 23:07] capnrefsmmat opened #282 "Be more defensive in earliest_issue and latest_issue, export them"
These are not exported, but could be useful to users, particularly those working with multiple issue dates.

Before we do so, however, we should address [Ryan's comments](https://github.com/cmu-delphi/covidcast/pull/266#issuecomment-727276219):

For our current uses, neither of these is a problem, but we should fix them before exporting.

I'm tempted to say that reordering the rows is fine -- at l

[2020-11-16 16:07] benjaminysmith commented on #32
Thanks for the feedback Ryan. I'm running these at http://dashboards-prod-01.delphi.cmu.edu/ (internal only for now) too, with a nicer HTML wrapper (and the not-yet checked in ones in https://github.com/cmu-delphi/covidcast/pull/235).

These are great ideas for V2. I'll think about how to split this up effectively and update here.

[2020-11-16 19:10] dajmcdon commented on #280
It's possible that we don't want `get_covidhub_predictions()` (or its successor implemented with `covidHubUtils`) to create cards at all. The point of the cards (correct me if I'm wrong @jacobbien) is to track all attributes necessary for reproducing the forecasts. The cards avoid duplicating those attributes unnecessarily, which would explode the storage requirements (compare to duplicating the f

[2020-11-16 19:14] #262 closed

[2020-11-16 19:20] dajmcdon commented on #225
I'm working through this. Currently some packages (e.g. `dplyr`, `tibble`, `tidyr`, ...) are fully imported. These being packages where we use many of their functions. My feeling is that we drop the `package::` prefix in those cases as long as it is clear what is being done (`dplyr::select()` being an exception where we'd want the prefix due to conflicts). The main reason being that the code start

[2020-11-16 21:32] bnaras commented on #225
I am completely fine with this.

On Mon, Nov 16, 2020 at 11:20 AM Daniel McDonald <notifications@github.com>
wrote:

--
---
Balasubramanian Narasimhan

[2020-11-17 01:27] dajmcdon opened #291 "Baseline forecaster misbehaving"
Running the example for `get_predictions()`

[code]

The reason is that `evaluate_predictions()` can't handle the `NA` forecasts produced by `get_predictions()`.

There are 2 problems here:
- [x] The baseline forecaster should predict flatline with the most recent available data, not the last point (which may be NA).
- [x] `evaluate_predictions()` should return `NA` whenever the predictions are `N

[2020-11-17 01:35] nickreich opened #292 "add healthdata.gov signals on hospitalizations"
We are hoping to migrate the teams doing the hospitalization forecasting challenge at the COVID-19 Forecast Hub over to using the datasets recently (in the last few days) made publicly available at the link below.

Note API links on left-hand panel down the page a bit:
https://healthdata.gov/dataset/covid-19-reported-patient-impact-and-hospital-capacity-state-timeseries

[2020-11-17 02:54] capnrefsmmat commented on #292
Thanks. I'll move this over to our indicators repository and flag it to review when we do our next prioritization.

[2020-11-17 06:43] chinandrew commented on #255
Hm, I can't reproduce this.

In the code, this line is already here, and the df returned has that colume as a datetime object. You example error also fails to error for me. The cast was in an [early PR](https://github.com/cmu-delphi/covidcast/commit/49ca62e9d1aced67f25523a4ef10c4ffba83acdc) so doubt it's a version error, but to be thorough have you tried upgrading to the latest version?

https://g

[2020-11-17 07:27] dshemetov commented on #255
Huh, the error seems to be gone on my end now?? 🤷

[2020-11-17 15:45] JedGrabman opened #293 "Expose get_covid_hub_forecaster_names"
`get_covidhub_predictions.R` has an internal function [`get_covid_hub_forecaster_names`](https://github.com/cmu-delphi/covidcast/blob/f9fbeb44ccfb74258912af18eeb267ee147ac3a0/R-packages/evalcast/R/get_covidhub_predictions.R#L118). It would be valuable for users to see what predictions are available, so it would be nice to expose the function. If we do, we should also rename it by changing `covid_h

[2020-11-17 16:01] JedGrabman opened #294 "Allow evaluate_predictions to evaluate against different data sources"
From [`covidhub_evaluation.Rmd`](https://github.com/cmu-delphi/covidcast/blob/f2794447a3778cb4bb5be4ea7c7f14474102c547/R-notebooks/covidhub_evaluation.Rmd)

[code]

Currently, [`evaluate_predictions_single_ahead` calls `get_target_response`](https://github.com/cmu-delphi/covidcast/blob/f2794447a3778cb4bb5be4ea7c7f14474102c547/R-packages/evalcast/R/evaluate.R#L103-L109) which assumes [the first row

[2020-11-17 16:18] JedGrabman opened #295 "Investigate efficiency updates for evaluate_predictions"
[evaluate_predictions](https://github.com/cmu-delphi/covidcast/blob/2443c31356c30c2c692bce834bea6cae2a5c2083/R-packages/evalcast/R/evaluate.R#L49) is rather slow. The cause seems to be this loop in [`evaluate_predictions_single_ahead`](https://github.com/cmu-delphi/covidcast/blob/2443c31356c30c2c692bce834bea6cae2a5c2083/R-packages/evalcast/R/evaluate.R#L141-L146):
[code]
and the mutate line in par

[2020-11-17 16:27] chinandrew opened #296 "Fix quidel covidtest linting on `main`"
While merging `deploy-quidel` into `main`, the pylintrc exceptions there were in `deploy-quidel` were kept to have it pass linting. This issue is to set the pylintrc to be the standard one shared by all indicators and fix any linting resulting linting errors.

Do after merging `deploy-quidel` into `main`.

[2020-11-17 17:51] chinandrew commented on #255
Well I guess I'll close for now, if it comes up again we can reopen and investigate.

[2020-11-17 17:51] #255 closed

[2020-11-17 17:57] chinandrew commented on #296
wrong repo, should be indicators

[2020-11-17 17:57] #296 closed

[2020-11-17 18:39] sgsmob commented on #222
Essentially should print out a formatted `all_attr`.

[2020-11-17 22:34] JedGrabman opened #301 "evalcast tests are noisy / have a lot of warnings"
evalcast tests have a lot of non-actionable warnings, e.g.

[code]
We should probably be mocking out some calls so that we aren't relying on real data and instead only testing the functionality within evalcast.

[2020-11-17 22:38] #153 closed

[2020-11-18 15:09] JedGrabman commented on #99
Ryan's notebook (#240) is now live on the main branch at [covidcast/R-notebooks/covidhub_evaluation.Rmd](https://github.com/cmu-delphi/covidcast/blob/f2794447a3778cb4bb5be4ea7c7f14474102c547/R-notebooks/covidhub_evaluation.Rmd) and memoization has been merged into the evalcast branch (#241). As expected, the memoization helps quite a bit if the same data has already been retrieved, but of course h

[2020-11-18 15:24] JedGrabman commented on #280
I agree that reducing the amount of aggregation / deaggregation could improve performance, we would just need to be sure to do it in a way where we ensure we don't duplicate work. That is, if we returned a long tibble and needed cards, we wouldn't want to have to do that conversion multiple times if the user ends up making multiple calls to the function.

One option is to be stricter with data typ

[2020-11-18 15:39] #221 closed

[2020-11-18 15:57] JedGrabman opened #302 "Covidcast CI R checks fail during "Set up R 3.5" step"
The R CI checks are failing with several instances of the following warning:
[code]

This is affecting at least #297 and #275.

[2020-11-18 16:01] chinandrew commented on #302
This is fixed in #298 and #290, merge in `main` or `r-pkg-devel` (depends on which your branched off) to your branch and it should be resolve.

[2020-11-18 16:14] capnrefsmmat commented on #302
For #275 I'd recommending merging or rebasing on `r-pkg-devel`, since that's where we'll want to merge into (rather than main).

[2020-11-18 17:50] jacobbien commented on #280
It sounds to me based on Jed’s initial message that the biggest issue might
be manipulating all counties when in fact we only care about states. But
might this be resolved by using the new R package from the Reich lab for
covid hub access? It’s likely (I’m guessing) that this function may return
something akin to the long tibble, so then Dan’s suggestion to return the
long tibble may indeed speed

[2020-11-18 18:38] dajmcdon commented on #280
1. It's possible that using the Reich Lab package will help, but that still may be longer term.

2. Short term, what happens if we just filter by the `...` argument first rather than last? @JedGrabman can you try implementing this? It may help also to do it as an intermediate assignment rather then chained with all the other processing from [line 52](https://github.com/cmu-delphi/covidcast/blob/09

[2020-11-18 18:51] ckonichipaulo opened #304 "Choropleth plot not working with MSA"
`covidcast.plot_choropleth` with MSA level data is not working. The function works fine for me with `state` and `county`.

Here is my code:
[code]

And here is the error I'm getting:
[code]

[2020-11-18 19:01] chinandrew commented on #304
Thanks for reporting this, looking into it now.

[2020-11-18 19:31] chinandrew commented on #304
Looks like it's a packaging issue with the MSA (and HRR) data files. A bit odd that the state and county worked fine though... Will work on a fix and push out a new version.

[2020-11-18 19:55] ckonichipaulo commented on #304
Thank you so much for looking into it!

[2020-11-18 20:12] benjaminysmith opened #305 "Need support for requesting weekly data to R and Python clients for safegraph patterns"
See https://github.com/cmu-delphi/covidcast-indicators/issues/367#issuecomment-729773986 for context

[2020-11-18 20:40] chinandrew opened #307 "Release 0.1.1 of Python client"
- [x] Update changelog to describe changes since 0.1.0 (#308)
- [x] Rebuild all documentation and proofread for typos (#308)
- [x] Change version number in setup.py and the Sphinx config file (#308)
- [x] Build new package dists
- [x] test installation and verify shapefiles for MSA work
- [x] Upload to PyPI
- [ ] Announce to API mailing list

[2020-11-19 00:04] chinandrew commented on #304
Fix should be in place and we'll be cutting a new release once we update and proofread some documentation in the next few days.

[2020-11-19 00:32] capnrefsmmat opened #310 "Write R tests for MSA and HRR plots"
Using vdiffr, we should ensure these features don't break. See #217 for the test framework and #216 for the new plot functions.

[2020-11-19 01:28] sarah-colq commented on #11
@tildechris MSA and HRR are supported for choropleth maps now!  PR was just merged.

[2020-11-19 02:12] capnrefsmmat commented on #11
Specifically, you can get them via the dev version of the package:

[code]

Looking forward to making a new release soon to announce all these new features.

[2020-11-19 02:32] sarah-colq commented on #11
@capnrefsmmat This isn't done for bubble plots yet.  Working on that right now.

[2020-11-19 16:03] #101 closed

[2020-11-19 16:04] dajmcdon commented on #100
I'm attempting to go with option (c) "don't enforce any particular choice but make sure the set of quantile levels reported is consistent across all locations"

[2020-11-19 20:20] dajmcdon opened #314 "Clean up plotting functions"
`evaluate_predictions()` expects one forecaster and one forecast date but accommodates different aheads.

Suppose I have `pcards` from the covidhub-ensemble for one date and aheads 1:4
[code]

Both functions only handle one `ahead` at a time, and fail if I pass in `ensemble`. They facet over forecast dates, though `evaluate_predictions()` won't work easily on such. `plot_width()` is the same as `p

[2020-11-20 19:37] krivard opened #317 "Expose access to the API endpoint used for R covidcast client queries"
It is possible to direct the Python covidcast client at an alternative API endpoint like so:

[code]

However R places tighter controls on library innards. The closest I could get was the following, which errors out:

[code]

For purposes of giving folks advanced access to prototype signals that are not yet available from the public API, it would be nice if the R client could accept an alternative

[2020-11-20 22:12] chinandrew commented on #317
Is the best way to do this just add an optional api_url argument? Or is there some fancy R pattern for doing this.

[2020-11-20 22:25] krivard commented on #317
If we don't want to clutter the public namespace (and we probably don't -- this would be for internal signal releases only) probably best to use a fancy R pattern, if one exists. Fussing about with environments is already reaching the limits of my R expertise though, and that didn't work ☹️

[2020-11-20 22:26] capnrefsmmat commented on #317
We could use R's `options()` mechanism and let the user set `options(covidcast.api.url = something)`, and check if the option is set when making API requests.

[2020-11-21 02:09] capnrefsmmat commented on #305
First question: how should we handle the `time_value`? It will be an integer in YYYYWW format, apparently. We can use a package to convert back to a datetime. Should we turn it into the *first* day of the epiweek? Or add an extra column so we can store both the start and end of the epiweek?

[2020-11-22 21:59] capnrefsmmat commented on #304
This should be fixed in covidcast version 0.1.1, now available on PyPI. You can upgrade with

[code]

(or the equivalent for Conda or another package manager, if you didn't use pip)

Let us know if it still doesn't work or anything else goes wrong.

[2020-11-22 21:59] #304 closed

[2020-11-22 22:31] #302 closed

[2020-11-23 14:45] JedGrabman commented on #280
It looks like we make use of `filter_predictions` to do the filtering at the end, which I believe requires we already have an object that's a predictions_card. I can look into moving the filtering earlier, but I'm not quite sure what form that will take since I haven't worked much with ellipsis arguments.

[2020-11-23 17:49] ckonichipaulo commented on #304
Thank you!!

[2020-11-23 18:02] capnrefsmmat opened #322 "Create "covidcastify" functions to import other data sources and use them alongside COVIDcast indicators"
Suppose a user finds a new data source online. It has, say, a bunch of data for specific counties on various days, measuring some signal of interest related to COVID.

The user would like to load this into the covidcast package to make maps, correlate it with our other signals, maybe put it into a forecasting pipeline, etc.

We should have a flexible function that lets the user pass a data frame,

[2020-11-23 21:41] capnrefsmmat commented on #317
This should now be possible with the beta version on `r-pkg-devel`. Just set

[code]

To reset to the production server, use `options(covidcast.base_url = NULL)`.

[2020-11-23 21:41] #317 closed

[2020-11-23 21:46] chinandrew commented on #305
Are there practical reasons some people may want the start of the week vs the end? e.g. if everyone just uses the start, seems like we might be able to keep things simple and just use the first day. If it's pretty common people want both and we don't want them to have to add 6 days to get the end (although that doesn't seem like a huge lift), it doesn't seem too bad to have a different return form

[2020-11-23 22:15] ryantibs commented on #322
Thanks @capnrefsmmat for creating this issue.  I think you've summarized it all nicely and generally agree with everything.

Just wanted to raise one more point: I don't think we should *require* a user to call `covidcastify()` in order to use all our functions (plotting, correlations, etc.).  It would be just an important to rewrite the functions so that they can be called on a straight-up data f

[2020-11-23 22:26] capnrefsmmat commented on #322
I see `covidcastify()` as a design decision to keep our code simple: either `covidcastify()` handles augmenting the user's data frame with a minimum set of requirements, or every one of our other functions must grow extra complications to handle different cases, and we also need to write unit tests for all those cases. So we have to test `latest_issue` with both `covidcast_signal` objects and `dat

[2020-11-23 23:28] ryantibs commented on #322
Actually I think a simple way of achieving what I'm asking for, without a major testing headache, is just to put a call to `covidcastify()` at the beginning of each function's body.  After all, `covidcastify()` should be idempotent, and should be very fast (unless we've implemented it poorly).  So there will be no hurt, and we can keep tests simple.

And best of all, it will prevent the user from

[2020-11-23 23:44] capnrefsmmat commented on #322
Ah, that could work. And, to be idiomatic, we could call it `as.covidcast`, and even have `as.covidcast.data.frame` and `as.covidcast.ts` or whatever other objects we might want covidcast to be able to deal with.

That doesn't translate to the Python package, but there's an analogy to `np.asarray` here.

[2020-11-23 23:53] chinandrew commented on #322
Do we have any opinions on what `source` and `signal` should be for an arbitrary data source? We may be able to use the input variable name as one of those fields, and then having the user specify the other one (and default to empty string)

[2020-11-24 13:38] sgsmob commented on #314
What is the desired behavior for `plot_calibration()` and `plot_coverage()`?  My best guess:
- Expect a list of cards rather than a single card
- Handle multiple `ahead`s, creating one plot per `ahead` value
- Handle only one forecaster
- Handle only one forecast date

[2020-11-24 14:36] capnrefsmmat commented on #279
@huisaddison The speedups in #275 are now available on the r-pkg-devel branch if you'd like to test them out. Then we can evaluate if parallelization is beneficial or if the improvements in #275 are sufficient. They'll make state, MSA, and HRR-level downloads much faster, by packing in more days per API call; county-level estimates for dense signals like cases and deaths will still take roughly th

[2020-11-24 21:12] #112 closed

[2020-11-25 16:11] capnrefsmmat opened #327 "Figure out why R CMD check doesn't notice missing imports"
To prevent #325 from recurring. I suspect this is because the relevant unit tests loaded dplyr and lubridate, and testthat runs the tests in a specially created environment that loads the entire package namespace in, including private stuff -- which must not behave the same way as when you actually load a package. Hence, somehow, the tests passed despite the package not working when actually loade

[2020-11-25 16:59] chinandrew commented on #270
This is fixed in #326

[2020-11-25 16:59] #270 closed

[2020-11-25 17:03] chinandrew commented on #48
Closed by #156 , not sure why it didn't auto-close

[2020-11-25 17:03] #48 closed

[2020-11-25 18:28] chinandrew commented on #269
If you aggregate two signals and they have different issue dates, what should expected output be?

[2020-11-25 18:40] capnrefsmmat commented on #269
In wide format, I think we'd need an issue column per signal, rather than one "global" issue column.

[2020-11-26 10:12] jacobbien opened #332 "Fixes to plot_trajectory()"
1. What is the variable `ocation` in the following line of code?
[code]

2. Running `devtools::check()` reveals a few things:

- a warning related to the package `ggforce` being used without the package being declared as an import.
- Undocumented arguments in documentation object `plot_trajectory`
`nrow` `ncol` `page_facet` `cutoff`
- A large number of complaints about `no visible binding for glob

[2020-11-28 19:49] #282 closed

[2020-11-28 20:52] ryantibs commented on #231
@jacobbien @JedGrabman Are we good to close this issue?  Looks like Jed's #275 takes care of it?

[2020-11-29 04:32] ryantibs commented on #131
Hi folks, particularly @huisaddison @dshemetov, my PR here: #334 should close this issue.  I didn't think anybody was actually working on this (hope I wasn't wrong about that?), so I went ahead and implemented it along with similar functionality (for a new package call modeltools that's under development).

That said, I'd be very happy for @huisaddison @dshemetov to take a look at how it's impleme

[2020-11-29 05:04] huisaddison commented on #131
Thanks for following up Ryan -- I hadn't been working on this.  I'll play with your `modeltools` implementation tomorrow and leave some feedback (if anything behaves unexpectedly).

[2020-11-29 08:07] dajmcdon opened #335 "Odd warnings for `covidcast::abbr_to_fips()`"
If I try to get Alabama and Delaware, I get:
[code]
along with a warning "Some inputs were not uniquely matched; returning only the first match in each case."

The five character version works fine though.

[2020-11-29 08:27] chinandrew commented on #335
The functions default to regex based matching, so `"10"` will match anything containing `"10"`, including both `"01000"` and `"10000"`, and in the event of multiple it will return the first one and raise a warning. Perhaps this is a case against doing that (either for the state fips or in general)

[2020-11-29 19:44] jacobbien commented on #231
Nicely done @JedGrabman!  This is a huge speed improvement.

Now I did try rerunning my examples to see how long they take now.  When I run [this example](https://github.com/cmu-delphi/covidcast/issues/231#issuecomment-719987420), the elapsed time is down from the 19.92 seconds to 2.277 seconds, which is wonderful.  However, recall that in that above comment I was able to get an elapsed time of 0.

[2020-11-29 21:21] capnrefsmmat commented on #231
It looks like the new code doesn't take into account the `geo_value` argument -- it batches the queries as if you were requesting all states, not just the one state. I think that'd just be a simple fix to use the number of `geo_values` provided, if any, and use the total number of locations otherwise.

[2020-11-29 22:23] capnrefsmmat opened #338 "covidcast_cor issues warnings with dplyr 1.0.0"
With dplyr 1.0.0, I get warnings like these when running the tests:

[code]

As it says, `.dots` is deprecated (and [no longer documented](https://dplyr.tidyverse.org/reference/group_by.html)), so we should switch the code to use the other symbol/quoting features in dplyr so we can turn the string into a symbol it accepts.

[2020-11-30 02:07] jacobbien commented on #231
Good point @capnrefsmmat!

[2020-11-30 03:34] ryantibs commented on #131
Thanks @huisaddison.  Just a comment on the style of implementation I ended up choosing: I went for generality, rather than pure speed.  If restricted more, I think it could be further optimized, but I ended up wanting to allow for a bit more flexibility.

[2020-11-30 14:37] capnrefsmmat commented on #322
I'm working on a draft of this feature for the R client, as a function `as.covidcast_signal` with S3 methods for different data types. I rely on the user to specify a signal name, since using the input variable name works until a user does something like

[code]

and you get a funky long signal name.

Draft PR coming soon.

[2020-11-30 14:44] JedGrabman commented on #327
cc @chinandrew

[2020-11-30 14:53] JedGrabman commented on #231
Sounds right. Should be as simple as a basic check and updating the `max_geos` param [here](https://github.com/cmu-delphi/covidcast/blob/dabc78fc508ec60c2d0549bcc8e82bed1d005b34/R-packages/covidcast/R/covidcast.R#L260).

[2020-11-30 16:30] chinandrew commented on #327
This is both local and on CI right?

[2020-11-30 16:33] capnrefsmmat commented on #327
Yeah, tests passed locally too

[2020-11-30 18:27] benjaminysmith commented on #32
Ok, looking at the requests I think we can chop this into:

1. Add map support for whether a county has *ever* appeared (in addition to the existing 28 day maps)
2. Create tabbed view for county/metros/samples (and refactor code to be able to generate for each of these easily)
3. Combine into single HTML
4. Create tabbed correlations dashboard
5. Add simple anomaly detection graphing -- e.g., rece

[2020-12-01 15:07] JedGrabman commented on #102
No longer getting 404s, this looks fixed by #281.

[2020-12-01 15:07] #102 closed

[2020-12-01 17:39] #291 closed

[2020-12-01 17:41] #272 closed

[2020-12-01 18:08] sarah-colq opened #341 "Modify evalcast README to use vignette('evalcast') instead of vignette('covidcast')"

[2020-12-01 21:09] ryantibs opened #343 "Use `covidcast_signals()` (plural form) in evalcast"
Hi all, cc @dajmcdon.  Due to some development that's occurred on the covidcast side, we should use `covidcast_signals()` (note the plural form), within evalcast in order to fetch multiple signals.  This function returns a list of signals, and the covidcast package provides various utilities for wrangling them, [as demonstrated in this vignette](https://cmu-delphi.github.io/covidcast/covidcastR/ar

[2020-12-01 22:26] dajmcdon commented on #343
I just implemented this on the branch I'm currently on, and it seems to work with no problems (apart from the messages annoyingly printing on one line). Is it ok to wait to put it on main/evalcast when I do a PR with a bunch of other things, or are you being slowed down elsewhere?

[2020-12-01 23:18] dajmcdon commented on #335
Another issue that should be addressed is that this is super slow. It's because it looks up each entry individually. Maybe that's ok if you want all matches (though I'm not sure anyone does). But supposing you use the default `ties_method="first", it should only grep unique entries in the `code`. So, in `evalcast` I implemented the following:

[code]

 On the following stupid test, I get a 30x spe

[2020-12-01 23:26] ryantibs commented on #343
Thanks, and sure, it's not slowing me down elsewhere.

[2020-12-02 17:27] ryantibs commented on #343
Hi @dajmcdon a question for you.  What do you think about allowing the `forecaster` (function that `get_predictions()` calls to get forecaster) to take as its first argument a list of data frames?  Rather than a single long data frame?

In previous discussions on the covidcast side (cc @chinandrew @capnrefsmmat), we deiced that for multiple signals, it's not clear that "long" is more canonical tha

[2020-12-02 18:33] dajmcdon commented on #343
The evalcast documentation isn't very specific in terms of the format the forecaster should expect. And when we add functionality for the combination with side data (or maybe even exclusively side data) it could be more complicated.

If I were writing a forecaster, I think I'd prefer the list for ease of differential processing across signals. But I think lots of users tend to think in wide. I'm a

[2020-12-02 19:55] ryantibs commented on #343
I think that sounds fine, though I'm not sure we need to keep "long" the default just for backwards compatibility.  Is anybody using evalcast outside of Delphi (honest question)?  This new change would just require setting (say) `format = "long"` in `get_predictions()`, with the options being "list", "wide", "long".

[2020-12-02 20:24] chinandrew opened #350 "Add R 3.5 check for covidcast that skips problematic tests"
Some of the vdiffr plotting tests don't work the same on 3.5 due to how the SVG is encoded, but the output image is visually the same. We're changing the hCI to run on 3.6, but since the package is 3.5+, this task is to add a 3.5 CI workflow and a condition to the tests so they only run on 3.6+

cc @sarah-colq @capnrefsmmat

[2020-12-02 20:44] JedGrabman opened #351 "Evalcast killcards identifies cumulative predictions as incidence predictions"
The killcards branch treats all predictions as incidence predictions, even if they are actually cumulative.
For example,

[code]
While their actual predictions ([from here](https://raw.githubusercontent.com/reichlab/covid19-forecast-hub/master/data-processed/YYG-ParamSearch/2020-07-20-YYG-ParamSearch.csv)) are:
[code]

It looks like we're only checking for deaths vs cases, but don't distinguish be

[2020-12-02 20:46] JedGrabman commented on #351
CC: @dajmcdon

[2020-12-02 21:03] dajmcdon commented on #351
Good catch. I inadvertently deleted
[code]
It needs to go right before the `separate()` call.

[2020-12-02 21:05] dajmcdon commented on #351
We don't have any utilities that would handle the cumulative forecasts in the package currently. The various aggregations only handle "epiweek" cumulatives, but not more. I think until someone balks, we can continue to filter those out, but we should probably add a note to the documentation @sarah-colq

[2020-12-02 21:09] krivard commented on #257
fixed!

[2020-12-02 21:09] #257 closed

[2020-12-02 21:10] krivard commented on #141
Fixed in #261

[2020-12-02 21:10] #141 closed

[2020-12-02 21:44] jacobbien commented on #351
Hi @dajmcdon.  As far as I'm aware, we do handle day-level cumulative forecasting.  All one would do is set `incidence_period = "day"` and then choose a cumulative signal from covidcast.  In issue #120, I was suggesting that we have vignettes that demonstrate how cumulative forecasting would go. (@JedGrabman - sorry just realized I haven't given you feedback on the vignette yet!)

[2020-12-02 23:32] jacobbien opened #352 "print.prediction_card and print.score_card ordering of attributes"
This is a tiny comment.  The current output of print looks like this:

[code]

I think it'd be better if it were this:
[code]

[2020-12-03 17:53] JedGrabman opened #355 "Vignette updates for evalcast"
@jacobbien left some comments for suggested changes to the evalcast vignette [here](https://github.com/cmu-delphi/covidcast/pull/155)

It might be worth combining this work with any documentation changes that need to be made for the changes on the `evalcast-killcards` branch

[2020-12-03 18:15] dajmcdon commented on #351
The bug should be fixed now, given recent pushes: cumulative forecasts are again removed in `get_covidhub_predictions()`.

If `evalcast` runs the forecaster and names the response correctly, cumulatives should just "work". This branch also allows "side_data" in `evaluate_predictions()` so you could manually add your own response if you really wanted. Do you think it's worth modifying `get_covidhub

[2020-12-03 18:27] dajmcdon commented on #352
For reference, I fixed this on the `evalcast-killcards` branch but it remains on `evalcast` and `main`

[2020-12-03 18:28] #343 closed

[2020-12-04 00:14] chinandrew commented on #307
@capnrefsmmat do we need that last bullet point, and if so, what are the steps required?

[2020-12-04 01:17] benjaminysmith opened #357 "Correlations for hospitalizations end in October"

[2020-12-04 02:13] capnrefsmmat commented on #307
For major feature releases, we'd send an email to the API mailing list flaunting the new features. Not sure if this release counts as a big one, but in the future we can prep an email like that and send it.

[2020-12-04 05:15] jacobbien commented on #351
I do think it's worth it and not that hard (Easy for me to say if I'm not doing it...).  To be specific: for death, one would set the response signal to be `deaths_cumulative_num` instead of `deaths_incidence_num` and for cases, one would set the response signal to be `confirmed_cumulative_num` instead of `confirmed_incidence_num`.  As far as I can remember everything downstream should then just w

[2020-12-04 18:01] benjaminysmith commented on #32
Unfortunately we can't (easily) use tabs if we use bookdown: https://github.com/rstudio/bookdown/issues/393

Leaning toward keeping the tabs and continuing to use a custom HTML wrapper instead. @ryantibs if you prefer ditching the tabs in favor of bookdown as the container we can do that too.

[2020-12-04 18:57] ryantibs commented on #32
@benjaminysmith Thanks for the continued improvements to the dashboards!  I'm in favor of doing whatever is the lightest weight (simplest) while maintaining ease-of-navigation.  So whether that's tabs or anything else, don't have a strong opinion.

(E.g., a table-of-contents could be just as easy to navigate as tabs, and may jell better with bookdown?)

[2020-12-04 19:49] benjaminysmith commented on #32
Sounds good to me, thanks.

[2020-12-04 19:56] JedGrabman commented on #280
This probably needs to be revisited since we're getting rid of cards, so that may substantially speed up the process.

However, we should still consider filtering. The results can balloon quite fast for county level forecasts (3k counties * 24 quantiles * 2 types (cases + deaths) * 4 aheads > 500K rows for some forecasters per date. It can be filtered after it's returned, but it would be a user fr

[2020-12-04 20:06] chinandrew opened #359 "Add ax argument to plotting function"
This would make it simple to create multiple subplots of maps

[2020-12-04 20:10] ryantibs commented on #280
I may be missing something here but why are we even implementing this ourselves anymore?  covidHubUtils provides the functionality we need.  And it's based on querying the Zoltar API (through the zoltr R package) so it's about as fast as you can get (my understanding).

Nick & co specifically rewrote functionality in covidHubUtils / zoltr to allow direct querying of COVID Hub forecasts without a Z

[2020-12-04 21:40] chinandrew opened #360 "Add title argument to plotting functions"
Currently the title is auto set as `f"{data_source}: {signal}, {day_to_plot.strftime('%Y-%m-%d')}"`, this issue is to make an optional argument to override that

[2020-12-04 23:09] capnrefsmmat opened #362 "Switch the API clients to use POST requests"
If you request a *lot* of geo_values, the GET query can be too long, and you get Request-URI Too Long (HTTP 414) from the API server.

Fortunately the server seems to support POST with no modification. We should switch the clients to POST and test thoroughly. (Not sure what this will do to the R httptest tests...)

[2020-12-04 23:38] chinandrew commented on #362
The Python package uses `delphi-epidata` to make requests, so this should belong there. I'll open a PR for it.

[2020-12-07 18:48] #227 closed

[2020-12-07 18:49] dajmcdon commented on #301
Generically need better tests that don't require constant API queries

[2020-12-07 18:50] #225 closed

[2020-12-07 18:51] #224 closed

[2020-12-07 18:51] #223 closed

[2020-12-07 18:54] #150 closed

[2020-12-07 18:54] #132 closed

[2020-12-07 18:54] #99 closed

[2020-12-07 18:54] #100 closed

[2020-12-07 18:55] #352 closed

[2020-12-07 19:02] capnrefsmmat commented on #301
You may find [httptest](https://enpiar.com/r/httptest/index.html) useful so you can use fixed test data instead of relying on the API not changing its outputs. We use this in the covidcast R package, so you can see some examples there.

[2020-12-07 19:30] dajmcdon commented on #351
*Follow up*

As far as I can tell, there are no cumulative case forecasts in Zoltar. We should be able to check if this changes with:

[code]
There's also hospitalizations, but I'm not sure what to do with this.

Current implementation on `evalcast-killcards` pulls the other 3 as desired. I think we still need to fix the `evaluate_predictions()` family to grab the right truth data as suggested abo

[2020-12-08 00:16] dajmcdon commented on #295
I'm going to close this. I think it's fixed without the cards.

[2020-12-08 00:16] #295 closed

[2020-12-08 00:16] #294 closed

[2020-12-08 00:16] #293 closed

[2020-12-08 00:17] dajmcdon commented on #280
Done. Both the Zoltar and the old version are now available.

[2020-12-08 00:17] #280 closed

[2020-12-08 15:03] JedGrabman commented on #293
Fixed [here](https://github.com/cmu-delphi/covidcast/commit/3ec458c4e753321493dcbed04e062064afa13ccc).

[2020-12-08 16:47] krivard commented on #154
It sounds like you're looking for something like the following:

1. "Give me a picture of the data as it looked on date X"
2. "Give me a _diff_ from date X to date Y"

If (X-Y) is 1 day, then the easiest way to do this is to run an `as_of=X` query followed by an `issues=Y` query -- so if that's your only use case, maybe you're all set?

If X-Y is more than one day, that's something that is easy to

[2020-12-08 16:52] krivard commented on #154
(oh whoa this is old, sorry about that)

[2020-12-09 15:41] JedGrabman commented on #154
It's been a little bit since I wrote this. Looking at it now, it seems like my main complaint was that searching for multiple forecast dates is slow for `evalcast`. Evaluating a forecaster means having it make predictions on the data that was available each week, so the `as_of` date is updated each time. Instead of just dates X & Y, we need dates A-Z (essentially, one for each week of the pandemic

[2020-12-10 00:32] capnrefsmmat opened #368 "Fix covidcast_wider and test it"
It appears I broke `covidcast_wider` on the `r-pkg-devel` branch, by having it select specific columns, then group by different columns:

https://github.com/cmu-delphi/covidcast/blob/43016e61a13ff23b081574b0724804c72fcb8b48/R-packages/covidcast/R/wrangle.R#L295-L306

I got away with this because `covidcast_longer` is tested, but not `covidcast_wider`. We should fix the bug and add some tests to `t

[2020-12-10 16:04] JedGrabman opened #369 "libgit2 required for CI due to changes in usethis"
I have a [recently failing CI check](https://github.com/cmu-delphi/covidcast/pull/366/checks?check_run_id=1531674152) that seems to be triggered by an update to `usethis`. The [usethis changelog](https://usethis.r-lib.org/news/index.html) says v2.0.0 is adopting `gert`. [Documentation for gert](https://cran.rstudio.com/web/packages/gert/index.html) says, "On Linux, a somewhat recent version of 'li

[2020-12-10 16:57] chinandrew commented on #369
In your branch, would juts update the block in line 33 of .github/workflows/r_covidcast_ci.yml

from
[code]
to
[code]

[2020-12-10 16:58] #222 closed

[2020-12-10 18:30] #369 closed

[2020-12-10 18:42] JedGrabman opened #372 "Unable to indirectly stub in tests until next release of mockery"
[`mockery`](https://cran.r-project.org/web/packages/mockery/index.html)'s current release (0.4.2) doesn't handle locked bindings properly, which prevents us from being able to stub functions which we call indirectly (That is, if we call f -> g -> h, we can't have h return a desired result to g). There is already a [fix committed](https://github.com/r-lib/mockery/pull/39), so this should be resolve

[2020-12-10 19:47] capnrefsmmat commented on #305
For the R package, we'll also need to update `covidcast_meta()` to handle transforming the date column for weekly data correctly.

[2020-12-10 22:25] krivard commented on #307
0.1.2 was announced today, so closing this

[2020-12-10 22:25] #307 closed

[2020-12-11 16:29] krivard opened #374 "Permit "nation" "hhs" as geo_types in signal requests"
We now include two additional geo types in the covidcast and covidcast_meta endpoints of the Epidata API:
* nation
* hhs

Both clients restrict what geo types are accepted in signal requests, so if someone is looping over metadata results to fetch signal data, they will get e.g.

[code]

(sorry about this -- I didn't realize it was restricted in the clients. Next time I'll give folks a heads up be

[2020-12-11 17:15] capolitsch opened #376 "R package `jsonlite` version 1.7.2 returning 404, causing covidcast R installation to fail"
The latest jsonlite R package version 1.7.2 is returning 404 on CRAN, which is causing covidcast installation to fail for users who don't already have a version of jsonlite installed on their machine. The latest version was published 2 days ago, so it may not be stable.

https://cran.rstudio.com/bin/macosx/contrib/4.0/jsonlite_1.7.2.tgz

We might want to specify jsonlite=1.7.1 as the dependency fo

[2020-12-11 17:27] chinandrew opened #378 "Add HHS and Nation support for plots"
Some signals will soon have these available, so we should support plotting for them.

[2020-12-11 17:38] capnrefsmmat commented on #376
See also https://github.com/jeroen/jsonlite/issues/342

I'm not sure there's a way we can avoid this -- is there any way to request specific package versions in `DESCRIPTION`?

[2020-12-11 17:49] jacobbien commented on #376
We could do this through GitHub and the remotes package...

https://github.com/r-lib/remotes

On Fri, Dec 11, 2020 at 9:38 AM Alex Reinhart <notifications@github.com>
wrote:

[2020-12-11 17:52] chinandrew commented on #376
1.7.2 Installs fine for me now.

[2020-12-11 17:59] jacobbien commented on #376
Apparently `jsonlite (== 1.7.1)` would work (although it's discouraged): https://r-pkgs.org/description.html?q=versioning#versioning

[2020-12-11 18:38] capolitsch commented on #376
1.7.2 works for me now

[2020-12-11 19:44] capnrefsmmat commented on #368
Hmmm. Actually the version on `r-pkg-devel`, as quoted above, is fine (except it returns a grouped df, which I can fix). But the version in `r/as-covidcast` is wrong -- see #364. I'll fix it there.

[2020-12-11 22:22] sarah-colq opened #381 "HRR and MSA data not showing up properly in choropleth plots for covidcast"
The data showing up in the R version looks different than the Python version.  We presume the R version is wrong because it was behaving before using the shapefiles instead of usmap.

[2020-12-12 08:15] #376 closed

[2020-12-14 23:18] chinandrew commented on #374
Is there urgency to cut a new Python release once #377 is merged? Not sure if any dependencies are currently broken due to this,

[2020-12-15 19:15] krivard commented on #374
I have a hack in Sir Complains-a-lot to skip checking all nation and hhs variants, but that's the only thing I know of

[2020-12-16 15:01] krivard commented on #357
This appears to have been fixed (probably a signal name update to `_from_claims`?)

[2020-12-16 15:01] #357 closed

[2020-12-16 15:06] krivard commented on #360
(did you mean something like _animation_ plotting, because i'm pretty sure titles being useful for plotting goes without saying)

[2020-12-16 16:05] benjaminysmith commented on #357
Yeah this was https://github.com/cmu-delphi/covidcast/pull/358 -- I screwed up and forgot to reference this issue in the PR. Thanks for closing.

[2020-12-16 17:58] chinandrew commented on #360
Yup that's right, edited the original issue

[2020-12-17 01:40] capnrefsmmat opened #385 "Silence sf messages about shapefiles"
sf likes to print many of these messages:

[code]

We should figure out how to make it shut up.

[2020-12-17 01:43] capnrefsmmat commented on #381
Could you say what specifically seemed wrong? I just made an  MSA plot where I set all MSAs to have 0 values except a couple, and their values appeared in the correct places.

[2020-12-17 02:03] chinandrew commented on #381
We stumbled upon it while debugging the svg issue, [slack post here](https://delphi-org.slack.com/archives/C01E5M9KVN1/p1606757739002300?thread_ts=1606260372.020300&cid=C01E5M9KVN1)

[2020-12-18 00:47] capnrefsmmat commented on #24
@sarah-colq Is this resolved by your changes to use shapefiles, or are there still cases that are missing Puerto Rico?

[2020-12-21 18:06] sarah-colq commented on #381
@capnrefsmmat Can we close this?

[2020-12-21 18:10] capnrefsmmat commented on #381
I think so, but worth double checking. My fix only affected HRR maps, and when I plotted MSA maps with the current version of the package on `r-pkg-devel`, they looked fine. If they also look fine to you, then I think we're fine to close this

[2020-12-28 16:57] ryantibs opened #390 "Weird warnings in covidcast_signals() when specifying as_of but no end_day"
I'm using the version of covidcast up on the r/0.4.0-release branch.  When I use `covidcast_signal()` or the plural form, I should be able to specify a `start_day`, `as_of`, and *no* `end_day` parameter and it should be fetch to pull everything that was available up to that `as_of` date.  This is just extending the expected default behavior of this function when `as_of` is set to the current day (

[2020-12-28 17:00] ryantibs opened #391 "Expected signal format for baseline_forecaster()"
I'm using the version of evalcast on the evalcast-killcards branch, and `baseline_forecaster()` looks like it's expecting data in `signal_aggregation = "long"` format, but this isn't documented anywhere.  I confirmed this by setting `signal_aggregation = "wide"` (or "list") in examples, and it throws errors.  We should document the need for "long" format (or probably even better, allow it to flexi

[2020-12-28 17:06] capnrefsmmat commented on #390
This is almost certainly exactly what's happening, and we could avoid it by using `min(as_of, last_day_from_metadata)` as the last date to query.

[2020-12-29 04:32] ryantibs commented on #391
While I'm here, I may as well mention that in all my examples `baseline_forecaster()` produces fine values for WIS, when its predictions are run through `evaluate_predictions()`, but always produces `NA` values for AE.  I haven't dug into what may be the issue here.

[2020-12-29 16:00] ryantibs opened #392 "Bug in absolute_error()"
On the evalcast-killcards branch, there appears to be a fatal bug in the `absolute_error()` function. This line: https://github.com/cmu-delphi/covidcast/blob/3da0b3b8a0154e734f101822d59aa0bb55a1d65d/R-packages/evalcast/R/err_measures.R#L81
Should instead be
[code]
right? (My understanding is that `quantile` contains the probability level associated with the quantile value, which is stored in `valu

[2020-12-29 22:29] ryantibs opened #393 "Fixes to weighted_interval_score()"
On the evalcast-killcards branch, there's a few things bothering me about `weighted_interval_score()`.  First, I don't like that it will assign NAs for unsorted quantile values or quantile levels asymmetric around 0.5.  Neither of these seem necessary to me, because, recall, weighted interval score is exactly equivalent to quantile regression loss.  And these can be real impediments in practice be

[2020-12-29 23:41] dajmcdon commented on #391
The first should be fixed now. The second is also fixed assuming that #392 fixes it.

[2020-12-29 23:41] dajmcdon commented on #392
This should be fixed now.

[2020-12-30 00:03] dajmcdon commented on #393
I think part of the issue is that when I changed probs --> quantile and quantiles --> value, I might have screwed up an `assert_that()`. As for the calculation being not quite the same, I'm not sure why that would be. Can you share an example?

Alternatively, we could replace the guts with your simple one and go from there.

[2020-12-30 01:58] ryantibs commented on #393
I struggled with this for a little while---the fact they weren't matching.  There was a constant factor difference but that wasn't what the problem was (they still weren't matching up to constants).  I figured it out: so in general, weighted interval score is actually *not* equivalent to quantile regression loss summed up over the given quantile levels!

I've claimed that it was before in differen

[2020-12-30 02:44] dajmcdon commented on #393
I see. So for a forecaster predicting only the median, WIS==AE.

That formula allows us to remove the symmetry checks and the checks for the number of values tau since we're no longer calculating "intervals" and their lengths. But we still need to ensure that there is a prediction at 0.5?

And a point forecaster (with quantile==NA and no others) should return NA it seems.

[2020-12-30 17:55] dajmcdon commented on #393
I can't replicate your result for some reason. What is your definition of `modeltools::covidhub_probs`? I did:

[code]

and got

[code]

[2020-12-30 20:56] ryantibs commented on #393
Yep that's the right `covidhub_probs` vector. But I'm a bit confused by your last code chunk.  You mean to compare `ryans_weighted_interval_score()` against `evalcast::weighted_interval_score()` (not`evalcast::absolute_error()`)?

In any case you should be getting 1.685 for `ryans_weighted_interval_score()`, so something's not matching.  I actually defined both absolute error and weighted interval

[2020-12-30 21:09] dajmcdon commented on #393
Found it! The version you just gave has a parenthesis that is different from the earlier version. 😃

Now it matches.

[2020-12-31 02:20] ryantibs commented on #393
Ugh, my bad. Maybe serves me right for copy-pasting code over GitHub comments.

[2021-01-01 06:52] #131 closed

[2021-01-01 06:59] ryantibs opened #396 "Advertise evalcast, modeltools"
We should create a pkgdown site for evalcast with a nice vignette; if this exists, then I don't see it on the main branch.

And we should advertise both evalcast & modeltools from the "front page" (README) of this covidcast repo, say right under the "API Clients" section.

Here is the [pkgdown site for modeltools](https://cmu-delphi.github.io/covidcast/modeltoolsR/) that I just built.  The vignett

[2021-01-04 22:26] #374 closed

[2021-01-04 23:47] jacobbien commented on #393
Per our conversation on slack, it seems we should move to
[code]
The factor of 2 is to put this on the scale of interval scores (i.e. the average of 11.5 interval scores rather than the average of 23 quantiles).

[2021-01-05 00:01] dajmcdon commented on #393
This should be fixed by the most recent push. I'm going to leave this open for the moment just for reference.

[2021-01-05 00:02] #391 closed

[2021-01-05 00:02] #392 closed

[2021-01-05 17:09] dajmcdon opened #399 "`download_signals()` failures"
From Ryan:

I’ve encountered weird bugs running `get_predictions()`  in some cases where I think what’s happening is that training data for the forecaster “as of” the given forecast date wasn’t available at all.  I think this is a failure in `download_signals()`, where it probably tries to manipulate an empty object or something like that, instead of catching that it got back an empty data frame `

[2021-01-05 17:12] dajmcdon opened #400 "Remove duplicates in `evaluate_predictions()`"
Currently this function keeps all the quantile forecasts and adds columns for the evaluation metrics. The result is duplication of e.g. AE for each of the 23 quantiles. Let's remove the `quantile` and `value` columns so that we end up with one row for each location.

[2021-01-05 17:13] dajmcdon opened #401 "Add a function `get_actuals()`"
This should just be the `evaluate_predictions()` function with no evaluation. Just add a column to the predictions card with the observed values.

- [ ] Should be exported and documented.
- [ ] Adjust `evaluate_predictions()` to call this first.

[2021-01-05 17:28] dajmcdon opened #402 "Update tests for evalcast"
I've been holding off on this because it will take some work. We need tests for the basic package functionality. Some of these existed before, but take too long to run. Currently, those are turned off. We need to turn them back on.

There are two issues.

1. We don't want to call the API to run the tests. Alex suggested using a combination of the `mockery` and `httptest` packages. Useful also to c

[2021-01-05 17:32] dajmcdon opened #403 "New evalcast vignettes"
I think we need 2 more vignettes

1. A demonstration of forecasting with side data, potentially only side data. And also evaluating with the same. We can probably just run the baseline forecaster on something or else use Ryan's `modeltools`
2. A more complete demonstration of some of the plotting. Particularly the trajectory plots, but perhaps also stuff from @JedGrabman notebook.

[2021-01-05 17:38] dajmcdon opened #404 "Wedge plots"
Remove the top part of the "X".

[2021-01-05 18:06] sarah-colq commented on #24
The bubble plots don't have it yet.

[2021-01-05 18:46] dajmcdon commented on #403
See here for possible version of 2: #389

[2021-01-06 18:16] sgsmob commented on #402
Is this for the `evalcast-killcards` branch only or do we need to apply this to other branches?

[2021-01-06 18:17] dajmcdon commented on #402
`killcards` only.

[2021-01-07 14:34] #400 closed

[2021-01-08 15:00] JedGrabman commented on #401
Implemented in Pull Request #408. However, I reversed the approach.  `get_actuals` calls `evaluate_predictions` while specifying that it wants no error measures.

[2021-01-08 15:38] krivard commented on #390
Fixed in #394.

[2021-01-08 15:38] #390 closed

[2021-01-08 15:55] #401 closed

[2021-01-08 15:56] #393 closed

[2021-01-08 18:48] dajmcdon commented on #399
The problem seems to be that there is no data in the API for with a pre-June `as_of`. That's because we didn't have data at that point.

I think we should (potentially) do two things:

1. Stop completely with an interpretable error if download_signals() returns no data. Should be implemented [around here](https://github.com/cmu-delphi/covidcast/blob/e0f4457619c7f98b96ca16a3208f41473a74f74f/R-packa

[2021-01-08 18:51] dajmcdon commented on #399
Rereading Ryan's initial comment, it sounds at least possible that the error happens inside `download_signals()` before the [linked line](https://github.com/cmu-delphi/covidcast/blob/e0f4457619c7f98b96ca16a3208f41473a74f74f/R-packages/evalcast/R/get_predictions.R#L127). Probably still not interpretable. @sarah-colq can you verify where it happens?

[2021-01-09 02:07] sarah-colq commented on #399
It does happen inside `download_signals()`.  It happens during the call to `aggregate_signals()` from covidcast.  'covidcast_signals()` returns an empty list and then `aggregate_signals()` cannot handle an empty list.  I can modify `download_signals()` that if `covidcast_signals()` returns an empty list an error is thrown.

I don't think 2 is a good idea.  1 would indicate that there is no data an

[2021-01-09 02:38] dajmcdon commented on #399
Sounds good (not implementing 2).

[2021-01-11 17:33] dajmcdon opened #410 "Add Ryan's `canonical_plot()` function to evalcast"
See his PR #398.

- [x] Move `modeltools::canonical_plot()` to evalcast.
- [x] Ensure its setup/documentation matches the evalcast structure as necessary.
- [ ] Add figs from the modeltools demonstration to a new vignette in evalcast.

[2021-01-11 17:35] dajmcdon opened #411 "Move `scale_by_forecaster()` from modeltools into evalcast"
See Ryan's PR #398.

Adjust it's documentation/functionality as necessary.

[2021-01-11 17:56] dajmcdon opened #412 "Hotspot predictor"
From Ryan:

Finally, I unfortunately didn't get around to implementing the hotspot predictor function. It should follow in a pretty similar way to what I did with the `quantgen` forecaster, just using (say)` glmnet` to fit the sparse logistic regression instead of `quantgen`. There will be a bit more to do because you won't be operating on the raw response signal, but a binarized version (transfor

[2021-01-11 21:58] sgsmob commented on #402
What is the intended behavior of `get_predictions` when `signals$start_day` contains a mix of dates and functions?  (see [this test](https://github.com/cmu-delphi/covidcast/blob/e0f4457619c7f98b96ca16a3208f41473a74f74f/R-packages/evalcast/tests/testthat/test-basic-functionality-runs-without-error.R#L143)).  From the test it seems like we want to apply the function selectively but the `get_predicti

[2021-01-12 00:43] dajmcdon commented on #402
Yeah, there probably needs to be an `else` there right (if not a function)?

[2021-01-13 17:08] capnrefsmmat opened #415 "Fix most R check warnings/notes"
CHECK currently barfs lots of messages like these:

[code]

Most of these are because we're using dplyr operations and R can't tell from static analysis that the variable names are actually column names. We can [use `.data$` to avoid this](https://dplyr.tidyverse.org/articles/programming.html#eliminating-r-cmd-check-notes).

Someone should go through, add `.data` wherever needed, ensure all tests

[2021-01-14 15:34] #368 closed

[2021-01-14 15:34] #385 closed

[2021-01-15 08:31] jacobbien opened #418 "fips_to_name can be quite slow for long vectors"
Here's a relatively small example (just one month) demonstrating the slowness:
[code]
The function `fips_to_name` calls `grep_lookup`, which has a for loop over `dat$geo_value`.  This is wasteful because `dat$geo_value` will often have a large number of repeated elements.